{% extends "hkis/layout.html" %}
{% load i18n static hkis_extra %}

{% block title %}{{ page.title }}{% endblock %}

{% block container %}
  {% with exercises_done|length as done %}
    <section>
      <h1>{{ title }}{% if resolved is not None %} {% if resolved %}{% trans "solved" %}{% else %}{% trans "to do" %}{% endif %}{% endif %}</h1>
      <div class="progress">
        <progress max="{{ total }}" value="{{ done }}">{{ done }}/{{ total }}</progress>
        <span class="number">{{ done }}</span> / <span class="total">{{ total }} exercices</span>
      </div>
      <div class="description">
        {{ body | markdown_to_bootstrap }}
        <ul class="buttons">
          <li>
            {% if done == 0 %}
              <a href="{{ next_exercise.get_absolute_url }}">{% trans "Start" %}</a>
            {% elif done >= total %}
              <a>{% trans "Solved" %}</a>
            {% else %}
              <a href="{{ next_exercise.get_absolute_url }}">{% trans "Continue" %}</a>
            {% endif %}
          </li>
        </ul>
      </div>
    </section>
  {% endwith %}

  <aside class="tags">
    <h2><a href="/{{ page.slug }}/">{{ page.title }}</a></h2>
    <ul>
      {% for tag in tags %}
        <li>
          {% if tag.slug == selected_tag.slug %}
            <b>
              <a href="?{% if resolved is not None %}resolved={{ resolved }}{% endif %}">
                {{ tag.title }}
                <span class="total">{{ tag.nb_exercises }}</span>
              </a>
            </b>
          {% else %}
            <a href="?tag={{ tag.slug }}{% if resolved is not None %}&resolved={{ resolved }}{% endif %}">
              {{ tag.title }}
              <span class="total">{{ tag.nb_exercises }}</span>
            </a>
          {% endif %}
        </li>
        {% endfor %}
      <li><hr/></li>
      <li>
        {% if resolved == 1 %}
          <b>
            <a href="?{% if selected_tag %}tag={{ selected_tag.slug }}{% endif %}">
              {% trans "Done" %}
              <span class="total">{{ exercises_done|length }}</span>
            </a>
          </b>
        {% else %}
          <a href="?resolved=1{% if selected_tag %}&tag={{ selected_tag.slug }}{% endif %}">
            {% trans "Done" %}
            <span class="total">{{ exercises_done|length }}</span>
          </a>
        {% endif %}
      </li>
      <li>
        {% if resolved == 0 %}
          <b>
            <a href="?{% if selected_tag %}tag={{ selected_tag.slug }}{% endif %}">
              {% trans "To do" %}
              <span class="total">{{ exercises_todo|length }}</span>
            </a>
          </b>
        {% else %}
          <a href="?resolved=0{% if selected_tag %}&tag={{ selected_tag.slug }}{% endif %}">
            {% trans "To do" %}
            <span class="total">{{ exercises_todo|length }}</span>
          </a>
        {% endif %}
      </li>
    </ul>
  </aside>

  <aside class="legend">
    <h2>{% trans "Legend" %}</h2>
    <ul>
      <li class="easy">{% trans "Easy" %}</li>
      <li class="medium">{% trans "Medium" %}</li>
      <li class="hard">{% trans "Hard" %}</li>
      <li class="very-hard">{% trans "Very hard" %}</li>
    </ul>
  </aside>

  <table>
    <tbody>
      {% for exercise in exercises %}
      <tr class="{% if exercise.pk in exercises_done %}done{% elif exercise.pk in exercises_failed %}ongoing{% else %}new{% endif %}
                 {{ exercise.difficulty }}">
          <td class="status">
            {% if exercise.pk in exercises_done %}
              {% trans "Done" %}
            {% elif exercise.pk in exercises_failed %}
              {% trans "Ongoing" %}
            {% else %}
              {% trans "New" %}
            {% endif %}
          </td>
          <td class="title">
            <p>
              <a href="{{ exercise.get_absolute_url }}">
                {{ exercise.title }}
              </a>
            </p>
            <p>
              {% blocktrans trimmed with solved_by=exercise.solved_by%}
                Solved {{ solved_by }} times.
              {% endblocktrans %}
            </p>
          </td>
          <td>
            <ul class="tags">
              {% for tag in exercise.tags.all %}
                <li>{{ tag.title }}</li>
              {% endfor %}
            </ul>
          </td>
          <td class="link">
            <ul class="buttons">
              <li>
                <a href="{{ exercise.get_absolute_url }}">
                  {% if exercise.pk in exercises_done %}
                    {% trans "Solved" %}
                  {% elif exercise.pk in exercises_failed %}
                    {% trans "Continue" %}
                  {% else %}
                    {% trans "Start" %}
                  {% endif %}
                </a>
              </li>
            </ul>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
