{% extends "hkis/layout.html" %}
{% load hkis_extra cache %}
{% load i18n static %}
{% block title %}{{ object.title }}{% endblock %}

{% block extrahead %}
  <meta property="og:type" content="website" />
  <meta property="og:url" content="{{ request.build_absolute_uri }}" />
  <meta property="og:site_name" content="Genepy Python Exercises" />
  <meta property="og:description" content="{{ object.description }}" />
  <script src="{% static 'js/tabs.js' %}?v={{ version }}" type="text/javascript"></script>
  <script src="{% static 'js/exercise.js' %}?v={{ version }}" type="text/javascript"></script>
  <link href="{% static "css/codehilite.css" %}" rel="stylesheet" type="text/css" />
  <link href="{% static "django_ace/widget.css" %}" type="text/css" media="screen" rel="stylesheet">
  {{ answer_form.media }}
{% endblock %}

{% block data %}
  {% get_current_language as LANGUAGE_CODE %}
  data-is-valid="{{ is_valid }}"
  data-language-code="{{ LANGUAGE_CODE }}"
  data-leaderboard-url="{% url "leaderboard" %}"
  data-current-rank="{{ current_rank|default:999999 }}"
  data-exercise-id="{{ object.id|default:0 }}"
  {% url "auth_login" as auth_login %}
  {% if auth_login %}
    data-profile-url="{% if user.is_anonymous %}{{ auth_login }}{% else %}{% url "profile" user.username %}{% endif %}"
    data-auth-login-url="{{ auth_login }}"
  {% endif %}
{% endblock %}

{% block container %}
  {% cache 3600 exercise-wording object.pk LANGUAGE_CODE %}
    <section id="panel">
      <div id="header">
        <ul class="tags">
          {% for tag in exercise.tags.all %}
            <li>{{ tag.title }}</li>
          {% endfor %}
        </ul>
        <ul class="tabs">
          <li class="instructions">
            <a title="{% trans "Instructions" %}">
              {% trans "Instructions" %}
            </a>
          </li>
          <li class="correction">
            <a title="{% trans "Correction" %}">
              {% trans "Correction" %}
            </a>
          </li>
        </ul>
      </div>
      <div id="instructions" class="tab {% if is_valid %}done{% else %}new{% endif %}">
        <h1>{{ object.title }}</h1>
        <p class="subtitle">
          {% blocktrans with created_at=exercise.created_at.date trimmed %}
            Created on {{ created_at }}
          {% endblocktrans %}
          {% if exercise.author %}
            {% blocktrans with author=exercise.author.full_name trimmed %}
              by {{ author }}
            {% endblocktrans %}
          {% endif %}
        </p>
        {{ object.wording|markdown_to_bootstrap }}
      </div>
      <div id="correction" class="tab">
        <ul class="messages">
          <li class="info">
            {% blocktrans trimmed %}
              There's no corrections yet, hit the `Submit` button to send your code to the correction bot.
            {% endblocktrans %}
          </li>
          <li class="info">
            {% trans "Keyboard shortcuts:" %}
            <ul>
              <li>{% blocktrans %}Ctrl-Enter: Send your code to the correction bot.{% endblocktrans %}</li>
              <li>{% blocktrans %}Escape: Get back to the instructions tab.{% endblocktrans %}</li>
            </ul>
          </li>
        </ul>
      </div>
      <div id="buttons">
        <div id="send">
          <button
            disabled
            id="submit-answer"
            title="{% trans "This runs automated tests to verify your implementation (also saves your code).&#013;Shortcut: Ctrl-Enter." %}">
            {% trans "Submit" %}
          </button>
          (Ctrl-Enter)
        </div>
        <ul class="navigate">
          <li class="previous">
            <a {% if previous.first %}href="{{ previous.first.get_absolute_url }}"{% else %}class="disabled"{% endif %}>
              {% trans "Previous" %}
            </a>
          </li>
          <li>
            <a id="solution-link" href={{ object.get_solutions_absolute_url }}>
              {% trans "Solutions" %}
            </a>
          </li>
          <li class="next">
            <a {% if next.first %}href="{{ next.first.get_absolute_url }}"{% else %}class="disabled"{% endif %}>
              {% trans "Next" %}
            </a>
          </li>
        </ul>
      </div>
    </section>
  {% endcache %}

  <section id="editor">
    <form id="answer-form" action="#" method="post">
      {% csrf_token %}
      {{ answer_form.source_code }}
      {{ answer_form.exercise }}
    </form>
  </section>
{% endblock %}
