{% extends "hkis/layout.html" %}
{% load hkis_extra i18n static %}
{% block title %}About{% endblock %}
{% block container %}

<h1>{% trans "Getting help" %}</h1>

<section id="reporting-bugs">
  <h2>
    {% blocktrans trimmed %}
      You need some help with the website
    {% endblocktrans %}
  </h2>
  {% blocktrans trimmed %}
    Genepy is brand new, I know there’s still bugs, I’ll be glad to help you!
  {% endblocktrans %}
  <div class="squares">
    <div class="square">
      {% trans "Chat with the author, mdk using:" %}
      <a class="button button-with-img" href="mailto:julien@palard.fr">
        <img src="{% static "img/mail.svg" %}">
        {% trans "By email" %}
      </a>
      <a class="button button-with-img" href="https://matrix.to/#/#genepy:mozilla.org">
        <img src="{% static "img/matrix.svg" %}">
        {% trans "Matrix" %}
      </a>
      <a class="button button-with-img" href="https://discuss.afpy.org/u/mdk/summary">
        <img src="{% static "img/afpy.svg" %}">
        {% trans "AFPy Forum" %}
      </a>
    </div>
    <div class="square">
      {% trans "If you find a bug about the website, fill an issue on the website repo:" %}
      <img src="{% static "img/genepy.svg" %}"/>
      <a class="button" href="https://git.afpy.org/mdk/genepy/issues">
        {% trans "Open an issue" %}
      </a>
    </div>
    <div class="square">
      {% trans "If you find a bug about an exercise, fill an issue on the exercises repo:" %}
      <img src="{% static "img/genepy.svg" %}"/>
      <a class="button" href="https://git.afpy.org/mdk/genepy-exercises/issues/">
        {% trans "Open an issue" %}
      </a>
    </div>
  </div>
</section>

<section id="help-channels">
  <h2>{% trans "You need some help with Python" %}</h2>
  {% blocktrans trimmed %}
    The Python community is known to be friendly and welcoming, don't
    hesitate to ask for help!
  {% endblocktrans %}

  <div class="help-channels">
    <a class="help-channel" href="https://matrix.to/#/#genepy:mozilla.org">
      <div class="imgbox">
        <img src="{% static "img/matrix.svg" %}" />
      </div>
      <div class="button">
        {% trans "Genepy Matrix Chat" %}
      </div>
    </a>
    <a class="help-channel" href="https://afpy.org/discord">
      <div class="imgbox">
        <img src="{% static "img/discord.svg" %}" />
      </div>
      <div class="button">
        {% trans "French Discord channel" %}
      </div>
    </a>
    <a class="help-channel" href="https://discuss.python.org">
      <div class="imgbox">
        <img src="{% static "img/discuss.python.org.png" %}" />
      </div>
      <div class="button">
        {% trans "Python Forum" %}
      </div>
    </a>
    <a class="help-channel" href="https://discuss.afpy.org">
      <div class="imgbox">
        <img src="{% static "img/afpy.svg" %}" />
      </div>
      <div class="button">
        {% trans "French Python Forum" %}
      </div>
    </a>
    <a class="help-channel" href="https://web.libera.chat/#python-fr">
      <div class="imgbox">
        <img src="{% static "img/libera-chat.svg" %}" />
      </div>
      <div class="button">
        #python-fr on IRC
      </div>
    </a>
  </div>
</section>

<section id="i-need-money">
    <h2>{% trans "Get Genepy author as a teacher" %}</h2>
    <p>
      {% blocktrans trimmed %}
        Julien Palard is an independent Python trainer.
      {% endblocktrans %}
      <br/>
      {% blocktrans trimmed %}
        Contact him at this email address: <a href="mailto:julien@palard.fr">julien@palard.fr</a>.
      {% endblocktrans %}
    </p>
</section>

<section id="faq">
  <h2>{% trans "Frequently Asked Questions" %}</h2>

  <details>
    <summary>{% trans "What are the keyboard shortcuts?" %}</summary>
    <p>
      {% blocktrans trimmed %}
        We do use Ace Editor, the shortcuts are documented <a href="https://github.com/ajaxorg/ace/wiki/Default-Keyboard-Shortcuts">here</a>.
      {% endblocktrans %}
    </p>
    <p>
      {% trans "Genepy has one more shortcut: <tt>Ctrl-Enter</tt> to submit an ansser." %}
    </p>
  </details>

  <details>
    <summary>{% trans "Do I lose ranking points if I submit wrong answers?" %}</summary>
    <p>
      {% blocktrans trimmed %}
        No. Your ranking is only base on the exercises
        you solved and when you solved them:
      {% endblocktrans %}
      <ul>
        <li>
          {% blocktrans trimmed %}
            Solving more exercise will guarantee a higher ranking, even if late.
          {% endblocktrans %}
        </li>
        <li>
          {% blocktrans trimmed %}
            In case of equality, ranking is disambiguated using who solved what first.
          {% endblocktrans %}
        </li>
      </ul>
    </p>
  </details>

  <details>
    <summary>{% trans "Can't connect to correction server?" %}</summary>
    <p>
      {% blocktrans trimmed %}
        If you have the correction server connection error, there's two main possibilities:
      {% endblocktrans %}
    </p>

    <p>
      {% blocktrans trimmed %}
        Either your internet provider (or VPN, or ...) blocks
        <a href="https://en.wikipedia.org/wiki/WebSocket">WebSockets</a>, in which case
        you should politely ask for them to update their blocking policy.
      {% endblocktrans %}
    </p>

    <p>
      {% blocktrans trimmed %}
        Or my server is down.
      {% endblocktrans %}
    </p>

    <p>
      {% blocktrans trimmed %}
        Anyway don't hesitate to
        open <a href="https://git.afpy.org/mdk/genepy/issues">an
        issue</a> in the bug tracker, so I know.
      {% endblocktrans %}
    </p>
  </details>

  <details>
    <summary>{% trans "My question is not in the FAQ, how to add it?" %}</summary>
    <p>
      {% blocktrans trimmed %}
        Ask me, I'll reply, and if it's frequently asked, I'll add it here.
      {% endblocktrans %}
    </p>
    <p>
      {% blocktrans trimmed %}
        You can ask me using by
        opening <a href="https://git.afpy.org/mdk/genepy/issues">an
        issue</a>, or send me an email at <a href="mailto:julien@palard.fr">julien@palard.fr</a>.
      {% endblocktrans %}
    </p>
  </details>
  <a id="teams" />
  <details>
    <summary>{% trans "How do team works?" %}</summary>
    <p>
      {% blocktrans trimmed %}
        Teams are named groups that have their own leaderboard.
      {% endblocktrans %}
    </p>
    <p>
      {% blocktrans trimmed %}
        Anyone can create a team at any moment, and leave a team at any
        moment, but:
      {% endblocktrans %}
      <ul>
        <li>
          {% blocktrans trimmed %}
            Joining a non-existing team creates it, you become the team staff,
            you and only you can now grant new members in the team.
          {% endblocktrans %}
        </li>
        <li>
          {% blocktrans trimmed %}
            Joining an existing team marks you as willing to join, you'll
            have to wait for the team staff to accept you in.
          {% endblocktrans %}
        </li>
      </ul>
      {% blocktrans trimmed %}
        By default a team is public, shoot me an email if you need a private team.
      {% endblocktrans %}
    </p>
  </details>
</section>
{% endblock %}
