{% extends 'hkis/layout.html' %}
{% load i18n static hkis_extra %}

{% block title %}{% trans "Python Exercises" %}{% endblock %}

{% block container %}
  <section id="learn">
    <div>
      <h1>{% trans "Learn Python thanks to the interactive exercises of Genepy!" %}</h1>
      <p class="subtitle">{% trans "Enter code and get immediate feedback from our corrector" %}</p>
      <ul class="buttons">
        <li class="register"><a href="{% url "registration_register" %}">{% trans "Let's register!" %}</a></li>
        <li class="login"><a href="{% url "auth_login" %}">{% trans "Sign in" %}</a></li>
      </ul>
    </div>
    <div id="categories">
      {% for tag in tags|slice:":5" %}
        <article>
          <h4>{{ tag.title }}</h4>
          <ul>
            {% for exercise in tag.cached_exercises %}
              <li>{{ exercise.title }}</li>
            {% endfor %}
          </ul>
          {% with tag.nb_exercises as total %}
            <div class="progress">
              <progress max="{{ total }}" value="{{ tag.solved }}">{{ tag.solved }}/{{ total }}</progress>
              <span class="number">{{ tag.solved }}</span> / <span class="total">{{ total }}</span>
            </div>
          {% endwith %}
          <ul class="buttons">
            <li><a href="{{ tag.cached_exercises.0.get_absolute_url }}">{% trans "Start" %}</a></li>
          </ul>
        </article>
      {% endfor %}
    </div>
  </section>

  <section id="exercises">
    <dl>
      <dt id="number">
        {% blocktrans with number_of_exercises=exercises trimmed %}
          {{ number_of_exercises }} exercises
        {% endblocktrans %}
      </dt>
      <dd>
        {% trans "and counting!" %}
      </dd>
      <dt id="categories">
        {% blocktrans with number_of_categories=tags.count trimmed %}
          {{ number_of_categories }} categories of exercises
        {% endblocktrans %}
      </dt>
      <dd>
        {% trans "Exercises are sorted by tags so you can pick whatever you want to learn." %}
      </dd>
      <dt id="solutions">
        {% blocktrans with number_of_solutions=answers.count trimmed %}
          {{ number_of_solutions }} shared solutions
        {% endblocktrans %}
      </dt>
      <dd>
        {% trans "Reading shared solutions is also a nice way to learn, thanks a lot to people sharing their code!" %}
      </dd>
    </dl>
  </section>

  <section id="leaderboards">
    <h2>{% trans "Leaderboards" %}</h2>
    <p class="subtitle">{% trans "Follow leaderboards in real time" %}</p>

    <h3>{% trans "Individual" %}</h3>
    <ul class="leaderboard">
      {% for user in individual_leaders %}
        <li>
          {{ user.full_name }}
          <span>
            {% blocktrans count points=user.points|ceil trimmed %}
              {{ points }} point
            {% plural %}
              {{ points }} points
            {% endblocktrans %}
          </span>
        </li>
      {% endfor %}
    </ul>

    <h3>{% trans "Teams" %}</h3>
    <ul class="leaderboard">
      {% for team in team_leaders %}
        <li>
          {{ team.name }}
          <span>
            {% blocktrans count points=team.points|ceil trimmed %}
              {{ points }} point
            {% plural %}
              {{ points }} points
            {% endblocktrans %}
          </span>
        </li>
      {% endfor %}
    </ul>

    <ul class="buttons">
      <li><a href="{% url "leaderboard" %}">{% trans "See the full leaderboard" %}</a></li>
    </ul>
  </section>

  <section id="teacher">
    <h2>{% trans "You are a teacher?" %}</h2>
    <p class="subtitle">{% trans "Customize your courses!" %}</p>

    <dl>
      <dt>{% trans "Adapt Genepy to your students' level" %}</dt>
      <dd>
        <ul>
          <li>{% trans "Create one or many dedicated pages" %}</li>
          <li>{% trans "Select existing exercises" %}</li>
          <li>{% trans "Or write your own exercises!" %}</li>
        </ul>
      </dd>
      <dt>{% trans "Keep track of your groups' progress" %}</dt>
      <dd>{% trans "Thanks to a dedicated interface, consult your groups' reports and keep track of their progress." %}</dd>
    </dl>

    <ul class="buttons">
      <li><a href="mailto:julien@palard.fr">{% blocktrans %}Let's reclaim my teacher access!{% endblocktrans %}</a></li>
    </ul>
  </section>

  <section id="support">
    <h2>{% trans "You like Genepy?" %}</h2>
    <p class="subtitle">{% trans "Genepy is free, open-source, ad-free and tracker-free" %}</p>
    <p>{% trans "Maintained on a voluntary basis by a team of Python enthusiasts, the platform runs <strong>solely on your donations.</strong> To keep it going, please support us!" %}</p>
    <ul class="buttons">
      <li class="liberapay"><a href="https://liberapay.com/JulienPalard">{% trans "Weekly donation" %}</a></li>
      <li class="github"><a href="https://github.com/sponsors/JulienPalard/">{% trans "Monthly donation" %}</a></li>
      <li class="paypal"><a href="https://paypal.me/JulienPalard">{% trans "One-time donation" %}</a></li>
    </ul>
    <p><a href="/sponsor/">{% trans "Learn more about donations and sponsoring" %}</a></p>
{% endblock %}
