{% load i18n static %}
{% get_current_language as LANGUAGE_CODE %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE|default:"en-us" }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>Genepy — {% block title %}{% trans "Welcome!" %}{% endblock %}</title>
    <link rel="icon" type="image/svg+xml" href="{% static 'img/favicon.svg' %}"/>
    <link href="{% static "css/hkis.css" %}?v={{ version }}" rel="stylesheet" type="text/css" />
    <script>/* Stupid hack for iOS :hover */ document.addEventListener("touchstart", function(){}, true);</script>
    <script src="{% url 'javascript-catalog' %}"></script>
    <script src="{% static 'js/genepy.js' %}?v={{ version }}" type="text/javascript"></script>
    {% block extrahead %}{% endblock %}
    {% block meta %}{% endblock %}
  </head>
  <body id="{{ request.resolver_match.url_name }}" {% block data %}{% endblock %}>
    {% block header %}
      <header>
        <nav>
          <ul>
            <li class="home">
              <a href="{% url "index" %}">{% trans "Home page" %}</a>
            </li>
            <li class="exercices">
              <a href="/exercises/">{% trans "Python exercises" %}</a>
            </li>
            <li class="leaderboard">
              <a href="{% url "leaderboard" %}">{% trans "Leaderboard" %}</a>
            </li>
            <li class="help">
              <a href="{% url "help" %}">{% trans "Help" %}</a>
            </li>
            {% if user.is_authenticated %}
              {% if user.is_staff %}
                <li class="admin">
                  <a href="{% url "admin:index" %}">{% trans "Admin" %}</a>
                </li>
              {% endif %}
              <li class="profile">
                <a href="{% url "profile" user.username %}">
                  {{ user.username }}
                  {% if todo > 0 %}
                    {% blocktrans trimmed count qty=todo asvar todo_title %}
                      You have {{qty}} user waiting to jour your teams.
                    {% plural %}
                      You have {{qty}} users waiting to jour your teams.
                    {% endblocktrans %}
                  <span class="todo" title="{{ todo_title }}">{{ todo }}</span>
                  {% endif %}
                </a>
              </li>
              <li class="logout">
                <form method="post" action="{% url "auth_logout" %}">
                  {% csrf_token %}
                  <button type="submit">{% translate "Log out" %}</button>
                </form>
              </li>
            {% else %}
              {% url "auth_login" as auth_login %}
              {% if auth_login %}
                <li class="login">
                  <a href="{% url "auth_login" %}">{% trans "Sign in" %}</a>
                </li>
              {% endif %}
            {% endif %}
          </ul>
        </nav>
      </header>
    {% endblock %}
    <main>
      {% block container %}{% endblock %}
    </main>
    {% block footer %}
      <footer>
        <ul>
          <li>
            <a href="{% url "about" %}">{% trans "About" %}</a>
          </li>
          <li>
            <a href="{% url "sponsor" %}">{% trans "Sponsor" %}</a>
          </li>
          <li>
            <a href="{% url "legal" %}">{% trans "Legal notice" %}</a>
          </li>
          <li>
            <a href="{% url "privacy" %}">{% trans "Privacy policy" %}</a>
          </li>
        </ul>
      </footer>
    {% endblock footer %}
    {% block extrajs %}{% endblock %}
  </body>
</html>
