{% extends "hkis/layout.html" %}
{% load i18n static hkis_extra %}
{% block title %}{% trans "Individual Leaderboard" %}{% endblock %}

{% block container %}
  <section>
    <h1>{% trans "Leaderboard" %}</h1>
    <p class="subtitle">{% trans "Follow leaderboards in real time" %}</p>
    <ul class="tabs">
      <li class="individual selected">
        <a href="{% url "leaderboard" %}">{% trans "Individual" %}</a>
      </li>
      <li class="teams">
        <a href="{% url "teams" %}">{% trans "Teams" %}</a>
      </li>
    </ul>
    <table>
      <thead>
        <tr>
          <th scope="col">{% trans "Rank" %}</th>
          <th scope="col">{% trans "Points" %}</th>
          <th scope="col">{% trans "Username" %}</th>
          <th scope="col">{% trans "Team" %}</th>
        </tr>
      </thead>
      <tbody>
        {% for player in page_obj %}
          <tr class="rank-{{ player.rank }}">
            <td>
              {{ player.rank }}
            </td>
            <td>
              {{ player.points|ceil }}
            </td>
            <td>
              {% if player.public_profile %}
                <a href="{% url "profile" player.username %}">{{ player.username }}</a> {% if player.is_superuser %}({% trans "staff" %}){% endif %}
              {% else %}
                ({% trans "anonymous" %})
              {% endif %}
            </td>
            <td>
              {% for team in player.teams.all %}
                {% if team.is_public %}
                  <a href="{% url "team" team.slug %}">{{ team }}</a>{% if not forloop.last %}, {% endif %}
                {% endif %}
              {% endfor %}
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>

    <ul class="navigate">
      <li class="first">
        <a {% if page_obj.has_previous %}href="?page=1"{% else %}class="disabled"{% endif %}>
          {% trans "First" %}
        </a>
      </li>
      <li class="previous">
        <a {% if page_obj.has_previous %}href="?page={{ page_obj.previous_page_number }}"{% else %}class="disabled"{% endif %}>
          {% trans "Previous" %}
        </a>
      </li>
      <li class="current">
        <a>
          {{ page_obj.number }} / {{ page_obj.paginator.num_pages }}
        </a>
      </li>
      <li class="next">
        <a {% if page_obj.has_next %}href="?page={{ page_obj.next_page_number }}"{% else %}class="disabled"{% endif %}>
          {% trans "Next" %}
        </a>
      </li>
      <li class="last">
        <a {% if page_obj.has_next %}href="?page={{ page_obj.paginator.num_pages }}"{% else %}class="disabled"{% endif %}>
          {% trans "Last" %}
        </a>
      </li>
    </ul>
  </section>
{% endblock %}
