{% extends "hkis/layout.html" %}
{% load i18n humanize static hkis_extra %}

{% block title %}Profile{% endblock %}

{% block extrahead %}
  <link href="{% static 'css/select2.min.css' %}" rel="stylesheet" />
  <script src="{% static 'js/jquery.min.js' %}" type="text/javascript"></script>
  <script src="{% static 'js/select2.full.min.js' %}" type="text/javascript"></script>
  <script src="{% static 'js/profile.js' %}?v={{ version }}" type="text/javascript"></script>
{% endblock %}

{% block data %}
  data-api-current-user-url="{{ api_current_user_url }}"
{% endblock %}

{% block container %}
  <section id="statistics">
    <h1>{% trans "Profile" %}</h1>
    <h2>{% trans "Statistics" %}</h2>
    <dl>
      <dt class="login">{% trans "Login" %}</dt>
      <dd>{{ profile.username }}</dd>
      <dt class="date">{% trans "Registration date" %}</dt>
      <dd>
        {% blocktrans with date_joined=profile.date_joined.date trimmed %}
          Subscribed on {{ date_joined }}
        {% endblocktrans %}
      </dd>
      {% if user_info.points %}
        <dt class="points icon">{% trans "Points" %}</dt>
        <dd>
          {% blocktrans count points=user_info.points|ceil trimmed %}
            <span class="number">{{ points }}</span> point
          {% plural %}
            <span class="number">{{ points }}</span> points
          {% endblocktrans %}
        </dd>
      {% endif %}
      {% if user_info and user_info.rank is not None %}
        <dt class="rank icon">{% trans "Rank" %}</dt>
        <dd>
          {% with rank_length=user_info.rank|slugify|length|slugify|add:":" %}
            {% blocktrans with rank=user_info.rank ordinal=user_info.rank|ordinal|slice:rank_length trimmed %}
              <span class="number">{{ rank }}<sup>{{ ordinal }}</sup></span> place
            {% endblocktrans %}
          {% endwith %}
        </dd>
      {% endif %}
      {% if done_qty %}
        <dt class="solutions icon">{% trans "Resolutions" %}</dt>
        <dd>
          {% blocktrans trimmed count done_qty=done_qty %}
            <span class="number">{{ done_qty }}</span> resolution
          {% plural %}
            <span class="number">{{ done_qty }}</span> resolutions
          {% endblocktrans %}
        </dd>
      {% endif %}
      {% if memberships %}
        <dt class="teams icon">{% trans "Teams" %}</dt>
        <dd>
          {% blocktrans count nb_teams=memberships.count trimmed %}
            <span class="number">{{ nb_teams }}</span> team
          {% plural %}
            <span class="number">{{ nb_teams }}</span> teams
          {% endblocktrans %}
        </dd>
      {% endif %}
    </dl>
  </section>

  {% if is_me %}
    <section id="information">
      <h2>{% trans "Personal information" %}</h2>
      <form action="" method="post">
        {% csrf_token %}
        {{ form }}
        {% url 'auth_password_change' as password_change %}
        <button type="submit">{% trans "Update" %}</button>
        <ul class="buttons">
          <li>
            <a href="{{ password_change }}">{% trans "Change your password" %}</a>
          </li>
        </ul>
      </form>
    </section>
  {% endif %}

  <aside id="leaderboard">
    <h2>{% trans "Leaderboard" %}</h2>
    <table>
      <thead>
        <tr>
          <th scope="col" class="rank">{% trans "Rank" %}</th>
          <th scope="col" class="points">{% trans "Points" %}</th>
          <th scope="col" class="name">{% trans "Name" %}</th>
        </tr>
      </thead>
      <tbody>
        {% for leaderboard_user in leaderboard %}
          <tr {% if leaderboard_user.pk == profile.pk %}class="current"{% endif %}>
            <td class="rank">{{ leaderboard_user.rank }}</td>
            <td class="points">{{ leaderboard_user.points|ceil }}</td>
            <td class="name">
              <a href="{% url "profile" leaderboard_user.username %}">{{ leaderboard_user.username }}</a>
              {% if leaderboard_user.teams %}
                <span class="teams">
                  {% for team in leaderboard_user.teams.all %}
                    {% if team.is_public %}
                      <a href="{% url "team" team.slug %}">{{ team }}</a>{% if not forloop.last %}, {% endif %}
                    {% endif %}
                  {% endfor %}
                </span>
              {% endif %}
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    <ul class="buttons">
      <li><a href="{% url "leaderboard" %}">{% trans "See the complete leaderboard" %}</a></li>
    </ul>
  </aside>

  {% if is_me %}
    <section id="teams">
      <h2>{% trans "Teams" %}</h2>
      {% if not memberships %}
        <p>
          {% trans "You're not in a team, but you can join or create one!" %}
        </p>
      {% else %}
        <ul>
          {% for membership in memberships %}
            <li>
              {% url 'team' membership.team.slug as team_url %}
              {% if membership.role == "PE" %}
                {% blocktrans trimmed with name=membership.team.name url=team_url %}
                  You're almost in the <a href="{{ url }}">{{ name }}</a> team (waiting for approval).
                {% endblocktrans %}
              {% endif %}
              {% if membership.role == "ST" %}
                {% blocktrans trimmed with name=membership.team.name url=team_url %}
                  You're staff in the <a href="{{ url }}">{{ name }}</a> team.
                {% endblocktrans %}
                {% if membership.team.pending_qty > 0 %}
                  <br/>
                  <a href="{{ team_url }}" class="todo">
                    {% blocktrans trimmed count qty=membership.team.pending_qty %}
                      {{ qty }} membership to review
                    {% plural %}
                      {{ qty }} memberships to review
                    {% endblocktrans %}
                  </a>
                {% endif %}
              {% endif %}
              {% if membership.role == "MM" %}
                {% blocktrans trimmed with name=membership.team.name url=team_url %}
                  You're in the <a href="{{ url }}">{{ name }}</a> team.
                {% endblocktrans %}
              {% endif %}
              <button data-api-leave-membership-url="{{ membership.api_url }}" title="{% trans "Leave team" %}">
                {% trans "Leave team" %}
              </button>
            </li>
          {% endfor %}
        </ul>
      {% endif %}
      <label for="join-team-select">{% trans "Join team" %}</label>
      <select id="join-team-select">
        {% for team in teams.all %}
          <option value="{{ team.id }}">{{ team.name }}</option>
        {% endfor %}
      </select>
      <button id="join-team" >{% trans "Join team" %}</button>

      <label for="create-team-input">{% trans "Create team" %}</label>
      <input id="create-team-input" type="text">
      <button id="create-team" >{% trans "Create team" %}</button>
    </section>

    <section>
      <h2>{% trans "Preferred language" %}</h2>
      {% get_current_language as current_language %}
      <label for="language-select">{% trans "Preferred language" %}</label>
      <select id="language-select">
        {% for language_tag, language in languages %}
          <option value="{{ language_tag }}" {% if current_language == language_tag %}selected{% endif %}>
            {{ language }}
          </option>
        {% endfor %}
      </select>
      <button id="language" >{% trans "Update" %}</button>
    </section>
  {% else %}
    <section id="teams">
      <h2>{% trans "Teams" %}</h2>
      {% if not memberships %}
        <p>
          {% blocktrans trimmed with username=profile.username %}
            {{ username }} is not in any team yet.
          {% endblocktrans %}
        </p>
      {% else %}
        <ul>
          {% for membership in memberships %}
            <li>
              {% url 'team' membership.team.slug as team_url %}
              {% if membership.role == "PE" %}
                {% blocktrans trimmed with name=membership.team.name url=team_url %}
                  Waiting for approval to join the <a href="{{ url }}">{{ name }}</a> team.
                {% endblocktrans %}
              {% endif %}
              {% if membership.role == "ST" %}
                {% blocktrans trimmed with name=membership.team.name url=team_url %}
                  Staff of the <a href="{{ url }}">{{ name }}</a> team.
                {% endblocktrans %}
              {% endif %}
              {% if membership.role == "MM" %}
                {% blocktrans trimmed with name=membership.team.name url=team_url %}
                  Member of the <a href="{{ url }}">{{ name }}</a> team.
                {% endblocktrans %}
              {% endif %}
            </li>
          {% endfor %}
        </ul>
      {% endif %}
    </section>
  {% endif %}
{% endblock %}
