{% extends "hkis/layout.html" %}
{% load i18n static hkis_extra %}
{% block title %}{{ object.title }}{% endblock %}

{% block data %}
  data-csrf-token="{{ csrf_token }}"
{% endblock %}

{% block extrahead %}
  <script type="text/javascript" src="{% static "django_ace/ace/ace.js" %}"></script>
  <script type="text/javascript" src="{% static "django_ace/widget.js" %}"></script>
  <script type="text/javascript" src="{% static "django_ace/ace/mode-python.js" %}"></script>
  <script type="text/javascript" src="{% static "django_ace/ace/theme-twilight.js" %}"></script>
  <script src="{% static "js/tabs.js" %}?v={{ version }}" type="text/javascript"></script>
  <script src="{% static "js/solutions.js" %}?v={{ version }}" type="text/javascript"></script>
  <link href="{% static "css/codehilite.css" %}" rel="stylesheet" type="text/css" />
  <link href="{% static "django_ace/widget.css" %}" type="text/css" media="screen" rel="stylesheet">
{% endblock %}

{% block container %}
  <section>
    <p class="subtitle">{% trans "Solutions for exercise" %}</p>
    <h1><a href="{{ exercise.get_absolute_url }}">{{ exercise.title }}</a></h1>
    <ul class="tabs">
      <li class="personal">
        <a>{% trans "My solutions" %}</a>
      </li>
      <li class="shared">
        <a>{% trans "Shared solutions" %}</a>
      </li>
    </ul>

    <div class="tab" id="personal">
      <h2>{% trans "My solutions" %}</h2>
      {% if not my_answers %}
        {% trans "You haven't submitted anything for this exercise yet." %}
      {% else %}
        <select class="solution-selector">
          {% for solution in my_answers %}
            <option value="personal-solution-{{ solution.pk }}" {% if forloop.last %}selected{% endif %}>
              {% if solution.is_valid %}✅{% else %}❌{% endif %}
              {% blocktrans with number=forloop.counter date=solution.created_at trimmed %}
                N°{{ number }} ({{ date }})
              {% endblocktrans %}
            </option>
          {% endfor %}
        </select>
        <div class="solutions">
          {% for solution in my_answers %}
            <div class="solution" id="personal-solution-{{ solution.pk }}">
              <div class="django-ace-editor">
                <div class="django-ace-widget loading" data-fontsize="16px" data-mode="python" data-showinvisibles="false" data-showprintmargin="true" data-theme="twilight" data-usesofttabs="true"><div></div>
                </div>
                <textarea name="source_code" cols="40" rows="10" id="id_source_code_{{ forloop.counter }}">{{ solution.source_code }}</textarea>
              </div>
              <div class="result-box">
                <pre>{{ solution.correction_message }}</pre>
              </div>
              {% if solution.is_valid %}
                <button id="btn-{{ solution.id }}-unshare"
                        type="button"
                        data-unshare="{{ solution.id }}"
                        {% if not solution.is_shared %}style="display: none"{% endif %}
                        class="btn btn-secondary btn-sm">
                  {% trans "Unshare it" %}
                </button>
                <button id="btn-{{ solution.id }}-share"
                        type="button"
                        data-share="{{ solution.id }}"
                        {% if solution.is_shared %}style="display: none"{% endif %}
                        class="btn btn-primary btn-sm">
                  {% trans "Share it with other students!" %}
                </button>
              {% endif %}
              <button id="btn-{{ solution.id }}-delete"
                      type="button"
                      data-delete="{{ solution.id }}"
                      class="btn btn-danger btn-sm">
                {% trans "Delete this answer" %}
              </button>
            </div>
          {% endfor %}
        </div>
      {% endif %}
    </div>

    <div class="tab" id="shared">
      <h2 style="margin-top: 20px;">{% trans "Shared solutions" %}</h2>
      {% if is_solved %}
        {% if solutions %}
          <select class="solution-selector">
            {% for solution in solutions %}
              <option value="shared-solution-{{ solution.pk }}" {% if forloop.last %}selected{% endif %}>
                {% if solution.is_valid %}✅{% else %}❌{% endif %}
                {% blocktrans with number=forloop.counter date=solution.created_at user=solution.user.full_name trimmed %}
                  N°{{ number }} by {{ user }} ({{ date }})
                {% endblocktrans %}
              </option>
            {% endfor %}
          </select>
          <div class="solutions">
            {% for solution in solutions %}
              <div class="solution" id="shared-solution-{{ solution.pk }}">
                <div class="django-ace-editor">
                  <div class="django-ace-widget loading" data-fontsize="16px" data-mode="python" data-showinvisibles="false" data-showprintmargin="true" data-theme="twilight" data-usesofttabs="true" style="width:100%; height:400px"><div></div>
                  </div>
                  <textarea name="source_code" cols="40" rows="10" id="id_source_code_{{ forloop.counter }}">{{ solution.source_code }}</textarea>
                </div>
              </div>
            {% endfor %}
          </div>
        {% else %}
          {% trans "No solution shared yet :(" %}
        {% endif %}
      {% else %}
        {% trans "(You're not allowed to see them until you resolved the exercise.)" %}
      {% endif %}
    </div>
  </section>
{% endblock %}
