{% extends "hkis/layout.html" %}
{% load i18n static hkis_extra %}
{% block title %}{% blocktrans with name=team.name %}{{ name }} Team{% endblocktrans %}{% endblock %}

{% block extrahead %}
  <script src="{% static "js/team.js" %}?v={{ version }}" type="text/javascript"></script>
{% endblock %}

{% block container %}
  <section>
    <h1>{% blocktrans with name=team.name %}Team {{ name }}{% endblocktrans %}</h1>

    {% if requester_membership.role == "ST" and pending_memberships %}
      <h2>{% translate "Pending memberships" %}</h2>
      <table>
        <thead>
          <tr>
            <th scope="col">{% trans "Points" %}</th>
            <th scope="col">{% trans "Username" %}</th>
            <th scope="col">{% trans "Action" %}</th>
          </tr>
        </thead>
        <tbody>
          {% for membership in pending_memberships %}
            <tr>
              <td>
                {{ membership.user.points|ceil }}
              </td>
              <td>
                {% if membership.user.public_profile %}
                  <a href="{% url "profile" membership.user.username %}">{{ membership.user.username }}</a>
                {% else %}
                  ({% trans "anonymous" %})
                {% endif %}
              </td>
              <td>
                {{ membership.get_role_display }}
              </td>
              <td scope="row">
                <button data-api-accept-in-team-url="{{ membership.api_url }}">{% trans "Accept" %}</button>
                <button data-api-remove-membership-url="{{ membership.api_url }}">{% trans "Reject" %}</button>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    {% endif %}

    <table>
      <thead>
        <tr>
          <th scope="col">{% trans "Rank" %}</th>
          <th scope="col">{% trans "Points" %}</th>
          <th scope="col">{% trans "Username" %}</th>
          <th scope="col">{% trans "Role" %}</th>
          {% if requester_membership.role == "ST" %}
            <th scope="col">{% trans "Action" %}</th>
          {% endif %}
        </tr>
      </thead>
      <tbody>
        {% for membership in memberships %}
          <tr class="rank-{{ forloop.counter }} {% if membership.user_id == user.pk %}current{% endif %}">
            <td>
              {{ forloop.counter }}
            </td>
            <td>
              {{ membership.user.points|ceil }}
            </td>
            <td>
              {% if membership.user.public_profile %}
                <a href="{% url "profile" membership.user.username %}">{{ membership.user.username }}</a>
              {% else %}
                ({% trans "anonymous" %})
              {% endif %}
            </td>
            <td>
              {{ membership.get_role_display }}
            </td>
            {% if requester_membership.role == "ST" %}
              <td scope="row">
                {% if membership.user.pk != requester_membership.user_id %}
                  <button data-api-remove-membership-url="{{ membership.api_url }}">{% trans "Remove" %}</button>
                {% endif %}
              </td>
            {% endif %}
          </tr>
        {% endfor %}
      </tbody>
    </table>

    {% if requester_membership.role == "ST" %}
      <ul class="buttons">
        <li>
          <a href="{% url "team-stats" team.slug %}">Team stats</a>
        </li>
      </ul>
    {% endif %}
  </section>
{% endblock %}
