{% extends "hkis/layout.html" %}
{% load i18n %}

{% block title %}{% blocktrans with name=team.name %}Stats for Team {{ name }}{% endblocktrans %}{% endblock %}

{% block container %}
  <section>
    <h1>{% blocktrans with name=team.name %}Stats for Team {{ name }}{% endblocktrans %}</h1>
    <table class="stats">
      <tbody>
        {% for user, answers in table %}
          <tr>
            <th scope="row">
              {{ user.username }}
            </th>
            {% for answer in answers %}
              <td>
                {% if answer.user_tries > 0 %}
                  <span title="{{ answer.title }}">
                    {% if answer.user_successes > 0 %}
                      ✅
                    {% else %}
                      ❌
                    {% endif %}
                  </span>
                {% endif %}
              </td>
            {% endfor %}
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </section>
{% endblock %}
