{% extends "hkis/layout.html" %}
{% load hkis_extra %}
{% load i18n static %}
{% block container %}
{% md %}
# {% trans "About Hackinscience" %}

## {% trans "Hackinscience, the online platform" %}

{% url 'team' as team_url %}

{% blocktrans %}The Hackinscience platform is a free, without ads, and open-source
(<a href="http://framagit.org/hackinscience/">repo on framagit</a>)
exercise platform, by a [team]({{team_url}}) of Python passionates.{% endblocktrans %}

{% blocktrans %}We only rely on [your donations](https://liberapay.com/JulienPalard) to run
this.{% endblocktrans %}


## {% blocktrans %}You're a teacher?{% endblocktrans %}

{% blocktrans %}If you're a teacher and want to use hackinscience during your courses,
you can ask by email at team at hackinscience dot org for a teacher
account, we'll bind you to your class students so you can follow their
individual progression.{% endblocktrans %}


## {% blocktrans %}You'd like The Hackinscience Team for a class?{% endblocktrans %}

{% blocktrans %}Good news, we teach Python too! Don't hesitate to drop us an email at
team at hackinscience dot org and we'll discuss about it. We're based
in Paris, France, but it may be OK for the team to move in other
places, let's talk about it!{% endblocktrans %}


## {% blocktrans %}Friendly Tracebacks in corrections{% endblocktrans %}

{% blocktrans %}You may have spotted Python exceptions are often nicely explained, how
do we do that?{% endblocktrans %}

{% blocktrans %}We're using André Roberge's
[friendly-traceback](https://github.com/aroberge/friendly-traceback/),
a project which tries to understand what caused the exception, and
explain it.{% endblocktrans %}

{% blocktrans %}If you spot an exception that is not explained by
`friendly-traceback`, which end up with "You might want to report this
case to ...", don't hesitate to report the case to the given link,
André is always very fast to implement the case and it will help many
people, not only hackinscience users!{% endblocktrans %}

{% blocktrans %}In the other hand if you spot a correction message that is not
helpfull and does not give a link to `friendly-traceback`, please open
an issue on [hackinscience](framagit.org/hackinscience/hkis-website)'s
issue tracker, as it's probably to be enhanced in our side.{% endblocktrans %}


## {% blocktrans %}Privacy{% endblocktrans %}

### {% blocktrans %}Personal informations{% endblocktrans %}

{% blocktrans %}When registering and using the Hackinscience platform, we store some
informations about you:{% endblocktrans %}

- {% blocktrans %}Your username, maybe your email if you gave it at registration time.{% endblocktrans %}
- {% blocktrans %}All the exercises you did, when you did them, what you submitted, what the bot answered.{% endblocktrans %}

{% blocktrans %}Why do we store all your submissions?{% endblocktrans %}

- {% blocktrans %}To display ✓ and ✗ marks near exercises so you know which one you
  succeeded and which one to do.{% endblocktrans %}
- {% blocktrans %}So you can find them back tomorrow.{% endblocktrans %}
- {% blocktrans %}Compute some statistics to spot which exercises are too hard to order them better or
  introduce intermediate/easier ones.{% endblocktrans %}

{% blocktrans %}If you want to correct an information we've got about you, delete
it, or if you'd like all the data about you conveniently archived for
offline reading, feel free to send a mail to *team at hackinscience dot org*
or ask any member of [the team]({{ team_url }}).{% endblocktrans %}


### {% blocktrans %}Trackers, external analytics tools, advertising{% endblocktrans %}

{% blocktrans %}We do not use any trackers, nor any advertising network, all our `css`
and `js` are hosted by ourself (no CDN).{% endblocktrans %}

{% blocktrans %}If you read this, you probably don't like being tracked, there's two
complimentary things you can do:{% endblocktrans %}

- {% blocktrans %}Enable the "Do Not Track" flag in your browser{% endblocktrans %}
- {% blocktrans %}Install the [Privacy Badger](https://fr.wikipedia.org/wiki/Privacy_Badger) browser
  extension from the [Electronic Frontier
  Foundation](https://fr.wikipedia.org/wiki/Electronic_Frontier_Foundation).{% endblocktrans %}

{% blocktrans %}Pricavy Badger blocks advertisements and tracking cookies that do not respect the
Do Not Track setting in a user's web browser.{% endblocktrans %}

{% endmd %}
{% endblock %}
