{% load i18n %}{% load staticfiles %}{% load bootstrap4 %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE|default:"en-us" }}">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <title>HackInScience | {% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        {% block extrastyle %}{% endblock %}
        <link href="{% static "css/style.css" %}" />
        {% block extrahead %}{% endblock %}
        {% bootstrap_css %}
        {% bootstrap_javascript %}
        {% bootstrap_jquery %}
    </head>
    <body class="{% if is_popup %}popup {% endif %}{% block bodyclass %}{% endblock %}">
        {% block nav %}{% endblock %}
        {% block body %}
        {% endblock %}
        <div class="container" style="margin-top: 25px;">
         {# Display django.contrib.messages as Bootstrap alerts #}
         {% bootstrap_messages %}
            {% block container %}{% endblock container %}
        </div>
        {% block form_row %}{% endblock %}
    </body>

</html>
