{% load i18n %}{% load static %}{% load bootstrap4 %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE|default:"en-us" }}">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <title>HackInScience - {% block title %}Welcome!{% endblock %}</title>
        {% bootstrap_css %}
        {% bootstrap_jquery %}
        {% bootstrap_javascript %}

        <link href="{% static "css/hkis.css" %}" rel="stylesheet" type="text/css" />
        {% block stylesheets %}{% endblock %}
        {% block extrastyle %}{% endblock %}
        {% block extrahead %}{% endblock %}
        <script>
        "use strict";

        function ajaxSuccess () {
            console.log("AJAX response:", this.responseText);
        }

        function AJAXSubmit (oFormElement) {
            if (!oFormElement.action) { return; }
            var oReq = new XMLHttpRequest();
            oReq.onload = ajaxSuccess;
            if (oFormElement.method.toLowerCase() === "post") {
                oReq.open("post", oFormElement.action);
                oReq.send(new FormData(oFormElement));
            } else {
                var oField, sFieldType, nFile, sSearch = "";
                for (var nItem = 0; nItem < oFormElement.elements.length; nItem++) {
                    oField = oFormElement.elements[nItem];
                    if (!oField.hasAttribute("name")) { continue; }
                    sFieldType = oField.nodeName.toUpperCase() === "INPUT" ?
                        oField.getAttribute("type").toUpperCase() : "TEXT";
                    if (sFieldType === "FILE") {
                        for (nFile = 0; nFile < oField.files.length;
                            sSearch += "&" + escape(oField.name) + "=" + escape(oField.files[nFile++].name));
                    } else if ((sFieldType !== "RADIO" && sFieldType !== "CHECKBOX") || oField.checked) {
                        sSearch += "&" + escape(oField.name) + "=" + escape(oField.value);
                    }
                }
                oReq.open("get", oFormElement.action.replace(/(?:\?.*)?$/, sSearch.replace(/^&/, "?")), true);
                oReq.send(null);
            }
        }
        </script>

    </head>
    <body class="{% if is_popup %}popup {% endif %}{% block bodyclass %}{% endblock %}">
        {% block nav %}{% endblock %}
        {% block body %}
        {% endblock %}
        <div class="container" style="margin-top: 25px;">
            {% block container %}{% endblock container %}
        </div>
        {% block form_row %}{% endblock %}
    </body>

</html>
