{% extends "hkis/layout.html" %}
{% load hkis_extra %}
{% load i18n static bootstrap4 %}
{% block container %}

<h1>About Hackinscience</h1>
<h2>Events</h2>
<p>
  Every years since 2014 Hackinscience is a physical course taking
  place at the <a href="https://cri-paris.org">CRI</a>, we've taught Python
  to 49 students in january 2019, and a total of around 200 students.
</p>
<p>
  The course spans a whole week of january, from monday to sunday,
  from 9AM to 9PM every day, with 3 teachers in the room with you full
  time.  The week is done using the hackinscience platform so the
  teachers, beside giving short lessons, are only here to help you: we
  can sit with you and take the time it need to unblock you, as we're
  3 in the room you'll always get a free teacher to ask any question.
</p>
<p>
  Anyone is welcomed during the week, from beginners having never seen
  a line of code to a bunch of years of experience in programming,
  we'll always find a challenge to sharpen your skills.
</p>
<p>
  The week is interleaved by short interactive lessons (around 15
  minutes) given live by a member of <a href="{% url 'team' %}">the
  team</a> on topics in relation with the level of the group, ranging
  from simple data structures to algorithmic complexity, from Python
  syntax basics to understanding relations between strings, bytes,
  encoding, unicode, UTF-8, and so on.
</p>

{% endblock %}
