{% extends "hkis/layout.html" %}
{% load hkis_extra %}
{% load i18n static %}
{% block title %}
  {% if is_impersonating %}
    {{ object.title }} (as seen by {{ is_impersonating.username }})
  {% else %}
    {{ object.title }}
  {% endif %}
{% endblock %}
{% block stylesheets %}
<link href="{% static "css/codehilite.css" %}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block extrahead %}
{% autoescape off %}
{% url 'profile' user.id as profile_url %}
<script>
    function append_to_answer_table(html) {
        if (document.querySelectorAll("#answer-table tr").length)
            document.querySelectorAll("#answer-table tr")[0].insertAdjacentHTML('beforebegin', html);
        else
            document.querySelectorAll("#answer-table")[0].insertAdjacentHTML('afterbegin', html);
    }

    function fill_answer(answer) {
        var result = document.getElementById("answers-result");
        if (!result)
            return;
        var elem = document.getElementById("td-".concat(answer.id));
        if (!elem) {
            var answer_table = document.getElementById("answer-table");
            append_to_answer_table('<tr><td id="td-'.concat(answer.id).concat('">…</td> </tr>'));
            elem = document.getElementById("td-".concat(answer.id));
        }
        if (answer.is_corrected) {
            var answer_table = document.getElementById("answer-table");
            var div = document.createElement("div");
            var button_next = document.createElement("a");
            button_next.className = 'btn btn-primary btn-sm'
            button_next.innerHTML = '{% trans "Next" %}'
            button_next.href = "{% url "exercise" next %}"

            var button_help = document.createElement("a")
            button_help.innerHTML = '{% trans "Need help?" %}'
            button_help.href = "{% url 'help' %}"

            div.innerHTML = answer.correction_message_html;
            if (answer.is_valid) {
                answer_table.rows[0].className = "table-success";
                if (answer.user && answer.user_rank < {{ current_rank }}) {
                    {% url 'profile' user.id as profile_url %}
                    var message = '<div class="alert alert-success">{% blocktrans %}Your new <a href="{{ profile_url }}">rank</a> is: NEW_RANK{% endblocktrans %}</div>'.replace('NEW_RANK', answer.user_rank);
                    div.insertAdjacentHTML('beforeend', message);
                }
                if (!answer.user) {
                    {% url 'auth_login' as login_url %}
                    var message = '<div class="alert alert-warning">{% blocktrans %}<a href="{{ login_url }}">Login</a> to backup your code and progression.{% endblocktrans %}</div>';
                    div.insertAdjacentHTML('beforeend', message);
                }
                div.appendChild(button_next);
                document.getElementById("solution_link").removeAttribute("style");
            }
            else {
                answer_table.rows[0].className = "table-danger";
                div.appendChild(button_help);
            }
            while (elem.firstChild) elem.removeChild(elem.firstChild);
            elem.appendChild(div);
            unlock_button('submit_answer');
        } else {
            elem.innerHTML = '<img src="{% static "img/loading_anim.gif" %}" height=30> {% trans "Waiting for correction" %}';
        }
    }

    function fill_snippet(id, executed_at, output) {
        var result = document.getElementById("answers-result");
        if (!result)
            return;
        var elem = document.getElementById("td-snippet-".concat(id));
        if (!elem) {
            var answer_table = document.getElementById("answer-table");
            append_to_answer_table('<tr class="table-info"><td id="td-snippet-'.concat(id).concat('">…</td> </tr>'));
            elem = document.getElementById("td-snippet-".concat(id));
        }
        if (executed_at) {
            var pre = document.createElement("pre");
            var div = document.createElement("div");
            div.appendChild(pre);
            var content = document.createTextNode(output);
            pre.appendChild(content);
            while (elem.firstChild) elem.removeChild(elem.firstChild);
            elem.appendChild(div);
            unlock_button('submit_answer');
        } else {
            elem.innerHTML = '<img src="{% static "img/loading_anim.gif" %}" height=30> {% trans "Waiting for test run" %}';
        }
    }

    function fill_message(message, type) {
        /* type in {"success", "danger", "warning", "info" } */
        console.log("[" + type + "]" + message);
        var answer_table = document.getElementById("answer-table");
        if (!answer_table)
            return;
        var first_row = answer_table.getElementsByTagName("tr")[0];
        var first_cell = null;
        if (first_row)
            first_cell = first_row.getElementsByTagName("td")[0];
        var html = '<div class="alert alert-' + type + '">' + message + '</td> </tr>';
        if (first_cell && !first_cell.id)
            first_cell.innerHTML = html
        else
            append_to_answer_table('<tr><td>' + html + '</td></tr>');
    }

    function websocket_connect(ws_location) {
        var connected = false;
        fill_message("{% trans "Connecting to correction server…" %}", "info");
        window.ws = new WebSocket(ws_location);
        window.ws.onmessage = function(e) {
            var data = JSON.parse(e.data);
            console.log("WebSocket recv:", data);
            if (data.type == "snippet.update")
                fill_snippet(data.id, data.executed_at, data.output)
            if (data.type == "answer.update")
                fill_answer(data);
        };
        window.ws.onerror = function(event) {
            console.error("WebSocket error observed:", event);
        };
        window.ws.onopen = function() {
            unlock_button("submit_answer");
            unlock_button("submit_snippet");
            connected = true;
            fill_message("{% trans "Connected to correction server." %}", "success");
            window.ws.send(JSON.stringify({type: "settings", value: HKIS_SETTINGS}));
            document.querySelectorAll("td.answer-cell").forEach(function(answer) {
                if (answer.dataset.isCorrected == "True") return ;
                console.log("Need to correct answer number", answer.dataset.answerId);
                window.ws.send(JSON.stringify({"type": "recorrect", "id": Number(answer.dataset.answerId)}));
            });
        };
        window.ws.onclose = function(event) {
            console.log("onclose", event);
            if (connected)
                fill_message("{% trans "Connection to correction server lost, will retry in 5s…" %}", "warning");
            else
                {% url 'help' as help_url %}
                fill_message("{% trans "Cannot connect to correction server, will retry in 5s…" %}" + "<br/>" +
                             "{% blocktrans %}(See the <a href='{{ help_url }}#FAQ'>FAQ</a> if it persists.){% endblocktrans %}", "warning");
            setTimeout(function(){websocket_connect(ws_location)}, 5000);
            lock_button("submit_answer", 0);
            lock_button("submit_snippet", 0);
        };
    }

    function ws_submit_answer(form) {
        var message = {"type": "answer", "source_code": form["source_code"].value};
        lock_button("submit_answer", 1);
        console.log("WebSocket send answer", message);
        window.ws.send(JSON.stringify(message));

    }

    function unlock_button(button_id) {
        document.getElementById(button_id).removeAttribute('disabled');
    }

    function lock_button(button_id, unlock_after_seconds) {
        document.getElementById(button_id).setAttribute('disabled', true);
        if (unlock_after_seconds)
            setTimeout(function(){unlock_button(button_id);}, unlock_after_seconds * 1000);
    }

    function ws_submit_snippet(form) {
        var message = {"type": "snippet", "source_code": form["source_code"].value};
        lock_button('submit_snippet', 1);
        console.log("WebSocket send snippet", message);
        window.ws.send(JSON.stringify(message));

    }

    function ctrl_enter_handler(event) {
        if (!event.ctrlKey) return;
        if (event.code !== "Enter") return;
        console.log("Sending via Ctrl-enter");
        ws_submit_answer(document.getElementById("answer_form"));
    }

    var ws_protocol = window.location.protocol == "http:" ? "ws:" : "wss:";
    {% if not is_impersonating %}
    window.addEventListener('DOMContentLoaded', function (event) {
        websocket_connect(ws_protocol + "//" + window.location.host + "/ws/exercises/" + {{object.id}} + "/");
        document.addEventListener('keydown', ctrl_enter_handler);
    });
    {% endif %}
</script>
{% endautoescape %}
{% endblock %}
{% block container %}
{% if is_impersonating %}
  <div class="alert alert-warning" role="alert">
    Exercise as seen by {{ is_impersonating.username }}.
  </div>
{% endif %}
{{ answer_form.media }}
{% if next or previous %}
<div class="float-right">
  {% if previous %}
  <a class="btn btn-secondary" href="{% url "exercise" previous %}">
    ← {% trans "Previous" %}
  </a>
  {% endif %}
  {% if next %}
  <a class="btn btn-secondary" href="{% url "exercise" next %}">
    {% trans "Next" %} →
  </a>
  {% endif %}
</div>
{% endif %}
<div class="col-md-8 offset-md-2">
  <div class="style-info">
    <h1 class="exercise-title">{{ object.title }}</h1>
    <div class="signature">Created by {{ object.author.first_name }} {{object.author.last_name }}</div>
    <div class="instructions">
      {{ object.wording|markdown_to_bootstrap|i18n_doc_links:LANGUAGE_CODE }}
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-6 style-info">
    <h2>{% trans "Your Code" %}</h2>
    <form id="answer_form" action="#" onsubmit="return false;" method="post">{% csrf_token %}
        {% for field in answer_form %}
        <div class="fieldWrapper">
            {{ field }}
        </div>
        {% endfor %}
        {% if not is_impersonating %}
        <button
          disabled
          id="submit_snippet"
          class="btn btn-secondary"
          data-toggle="tooltip"
          data-placement="bottom"
          data-delay="500"
          title="{% trans "Use this to execute your code, so you can try things." %}"
          onclick="ws_submit_snippet(this.form); return false;">
          {% trans "Run" %}
        </button>
        <button
          disabled
          id="submit_answer"
          class="btn btn-primary"
          data-toggle="tooltip"
          data-placement="bottom"
          data-delay="500"
          title="This runs automated tests to verify your implementation (also saves your code).&#013;Shortcut: Ctrl-Enter."
          type="submit"
          onclick="ws_submit_answer(this.form); return false;">
          {% trans "Submit for validation" %}
        </button>
        {% endif %}
    </form>
  </div>
  <div class="col-md-6 style-info">
    <h2>{% trans "Results" %}
      <span id="solution_link" {% if not is_valid %} style="display: none" {% endif %}>
        (<a href={% url "solutions" object.slug %}>{% blocktrans %}{{ solutions_qty}} shared solutions{% endblocktrans %}</a>)
      </span>
    </h2>
    <div id="answers-result" class="result">
      <table id="answer-table" class="table">
        {% for answer in answers %}
        <tr class="{% if answer.is_valid %}table-success{%else%}table-danger{% endif %}">
          <td id="td-{{ answer.id }}"
              data-answer-id="{{ answer.id }}"
              data-is-corrected="{{ answer.is_corrected }}"
              class="answer-cell">
            {% if not answer.is_corrected %}
              <img src="{% static "img/loading_anim.gif" %}" height=30> {% trans "Waiting for correction" %}
            {% else %}
              <div>
              {{ answer.correction_message|markdown_to_bootstrap }}
            </div>
            {% endif %}
          </td>
        </tr>
        {% endfor %}
      </table>
    </div>
  </div>
</div>
{% endblock %}
