{% extends "hkis/layout.html" %}
{% load i18n %}
{% load static %}
{% block title %}Python exercises{% endblock %}

{% block container %}

<h1>Python exercises</h1>

<table class="table table-sm table-hover records_list">
  <tbody>
    {% for exercise in exercises %}
    <tr class="d-flex" onclick="if (!event.ctrlKey){location.href='{% url "exercise" exercise.slug %}';}">
      <td scope="row" class="d-flex align-items-center">
          {% if exercise.tried %}
            {% if exercise.done %}
              <span class="good">✓</span>
            {% else %}
              <span class="bad">✗</span>
            {% endif %}
          {% endif %}
      </td>
      <td>
        <a href="{% url "exercise" exercise.slug %}">
          <h5>{{ exercise.number }}. {{ exercise.title }}</h5>
        </a>
        {{ exercise.lead }}
        <br />
        <i>Solved by {{ exercise.successes }} ({{ exercise.pct_tried|floatformat }}%)</i>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
