{% extends "hkis/layout.html" %}
{% load i18n static hkis_extra %}
{% block container %}
{% md %}

# {% blocktrans %}Getting help{% endblocktrans %}

## {% blocktrans %}Report a bug on hackinscience{% endblocktrans %}

{% blocktrans %}If you found an issue in an exercise, or the website, please either:{% endblocktrans %}

- {% blocktrans %}Fill a bug [in our bugtracker](https://framagit.org/hackinscience/hkis-website/issues).{% endblocktrans %}
- {% blocktrans %}Send me an email:{% endblocktrans %} [julien@palard.fr](mailto:julien@palard.fr).


## {% blocktrans %}Get help from the Python community{% endblocktrans %}

{% blocktrans %}The Python community is known to be friendly and welcoming, don't
hesitate to ask for help! Most of us are using freenode IRC channels
to talk.{% endblocktrans %}


### {% blocktrans %}How to connect to IRC?{% endblocktrans %}

{% blocktrans %}There's a nice web client on: [https://kiwi.freenode.net](https://kiwi.freenode.net).{% endblocktrans %}

{% blocktrans %}Pick a `Login` and a channel (see common Python IRC Channels
below). If you don't have a NickServ account (or don't know what it
is), don't check the "I have a password" box.{% endblocktrans %}


### {% blocktrans %}How to ask a question?{% endblocktrans %}

{% blocktrans %}Don't ask to ask, just ask.{% endblocktrans %}

{% blocktrans %}Be polite and respectfull.{% endblocktrans %}

{% blocktrans %}Be patient too: We're not always watching our screens for new
messages, it can take 15mn for someone to notice a new message, like
when you send an email.{% endblocktrans %}

{% blocktrans %}The author of HackInScience is `mdk` on Freenode, on various channels
but mainly on `#python-fr` (I'm French! I bake my own bread!), don't
hesitate to prefix your question with `mdk: ` so I notice it faster.{% endblocktrans %}


### {% blocktrans %}IRC Channels{% endblocktrans %}

{% blocktrans %}There's multiple channels related to Python on freenode, on different
topics and different languages, mainly:{% endblocktrans %}

- `#python`: {% blocktrans %}the main one, but needs a freenode account{% endblocktrans %}

{% blocktrans %}And many variations around languages and topics:{% endblocktrans %}

- `##python-friendly`: {% blocktrans %}like #python, but friendlier.{% endblocktrans %}
- `##python.pl`
- `#django-fr`
- `#django`
- `#djangocph`: {% blocktrans %}Copenhagen Django (and everything python/web related) Group{% endblocktrans %}
- `#numpy`
- `#pyar`
- `#pydata`
- `#python-br`
- `#python-cs`
- `#python-dk`
- `#python-es`
- `#python-fr`
- `#python-hu`
- `#python-india`
- `#python-ir`: {% blocktrans %}Iranian Python Users Group{% endblocktrans %}
- `#python-nl`
- `#python-scotland`
- `#python-uk`
- `#python.de`
- `#python.ie`
- `#python.it`
- `#python.pl`
- `#python.tw`
- `#scipy`: {% blocktrans %}Conversations about NumPy and SciPy{% endblocktrans %}
- ...

{% blocktrans %}You channel is missing? Make a PR →{% endblocktrans %}
[https://framagit.org/hackinscience/hkis-website](https://framagit.org/hackinscience/hkis-website).


{% endmd %}
{% endblock %}
