{% extends "hkis/layout.html" %}
{% load i18n static hkis_extra %}
{% block container %}

<div class="row">
    <div class="col-md-8 offset-md-2">
{% md %}

# {% trans "Getting help" %}

## {% trans "Report a bug on hackinscience" %}

{% blocktrans %}If you found an issue in an exercise, or the website, please either:

- Fill a bug [in our bugtracker](https://framagit.org/hackinscience/hkis-website/issues).
- Send me an email: [julien@palard.fr](mailto:julien@palard.fr).
{% endblocktrans %}


## {% trans "Get personal coaching" %}

See the [sponsor]({% url 'sponsor' %}) page.


## {% trans "Get help from the Python community" %}

{% blocktrans %}The Python community is known to be friendly and welcoming, don't
hesitate to ask for help!


### Asking on a forum

There's a Python forum at
[discuss.python.org](https://discuss.python.org), feel free to ask
your question in the `Users` category.


### Asking in the chat

You can ask in the `#python` channel of freenode, you can use
[https://kiwi.freenode.net](https://kiwi.freenode.net) if you don't
have an IRC client.


### Asking by mail

There's the
[python-list](https://mail.python.org/mailman/listinfo/python-list)
mailing list.


### How to ask a question?

Don't ask to ask, just ask.

Be polite and respectfull.

Don't ask for someone else to solve your exercise for you, it won't
help you learn.

{% endblocktrans %}
{% endmd %}


<a id=FAQ /><h2>{% trans "Frequently Asked Questions" %}</h2>

<div class="card mb-3">
  <div class="card-body">
  <h4 class="card-title">{% trans "Can't connect to correction server?" %}</h4>
  <p class="card-text">{% md %}{% blocktrans %}
If you have the correction server connection error, there's two main possibilities:

Either your internet provider (or VPN, or ...) blocks
[WebSockets](https://fr.wikipedia.org/wiki/WebSocket), in which case
you should politely ask for them to update their blocking policy.

Or my server is down (in which case you should not even be able to
read this message).

Anyway don't hesitate to open [an
issue](https://framagit.org/hackinscience/hkis-website/issues) in the
bug tracker, so I know.

{% endblocktrans %}{% endmd %}</p>
  </div>
</div>

<div class="card mb-3">
  <div class="card-body">
  <h4 class="card-title">{% trans "My question is not in the FAQ, how to add it?" %}</h4>
  <p class="card-text">{% md %}{% blocktrans %}
Ask me, I'll reply, and if it's frequently asked, I'll add it here.

You can ask me using by opening [an issue](https://framagit.org/hackinscience/hkis-website/issues),
or send me an email: [julien@palard.fr](mailto:julien@palard.fr).

{% endblocktrans %}{% endmd %}</p>
  </div>
</div>

<a id=teams />
<div class="card mb-3">
  <div class="card-body">
  <h4 class="card-title">{% trans "How do team works?" %}</h4>
  <p class="card-text">{% md %}{% blocktrans %}
Teams are named groups that have their own leaderboard.

Anyone can create a team at any moment, and leave a team at any
moment, but:

- Joining a non-existing team creates it, you become the team staff,
  you and only you can now grant new members in the team.

- Joining an existing team marks you as willing to join, you'll
  have to wait for the team staff to accept you in.

By default a team is public, shoot me an email if you need a private team.
{% endblocktrans %}{% endmd %}</p>
  </div>
</div>


  </div>
</div>
{% endblock %}
