{% extends 'hkis/layout.html' %}
{% load i18n static bootstrap4 %}

{% block title %}Python course{% endblock %}

{% block stylesheets %}
    <style type="text/css">
    body{
        background:url({% static "img/intro-bg.jpg" %}) no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
        -o-background-size: cover;
        font-family:Lora,'Helvetica Neue',Helvetica,Arial,sans-serif;
        position:relative;
        width:100%;
        height:100%;
        color:#fff;
    }
    </style>
{% endblock %}

{% block container %}
<div class="row mt-5">
    <div class="mx-auto">
        <img class="align-self-center mr-3" src="{% static "img/logo_hackinscience.png" %}" width="190px">
    </div>
</div>
<div class="black-grad row mt-5">
    <div class="mx-auto">
        <p class="lead text-center py-5">
          Hackinscience 2019 registration are open!!!
          <br/>
          From january 21 to january 27, at <a style="color: #999999" href="https://cri-paris.org">cri-paris.org</a>.
          <br/>
          Register your <a style="color: #999999" href="https://www.eventbrite.fr/e/billets-hackinscience-2019-50308918329">(free) hackinscience tickets now</a>.
          <br/>
          More informations on <a style="color: #999999" href="https://events.cri-paris.org/e/322">CRI-events</a>.
        </p>
    </div>
</div>
{% endblock %}
