{% extends 'hkis/layout.html' %}
{% load i18n static bootstrap4 %}

{% block title %}Python course{% endblock %}

{% block stylesheets %}
    <!-- Custom fonts for this template -->
    <link href="{% static "font-awesome/css/font-awesome.min.css" %}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Cabin:700' rel='stylesheet' type='text/css'>

    <!-- Custom styles for this template -->
    <link href="{% static "css/grayscale.css" %}" rel="stylesheet">

    <link href="{% static "css/hkis.css" %}" rel="stylesheet">
{% endblock %}

{% block body %}
    <!-- Intro Header -->
    <header class="masthead">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 mx-auto">
                        <h1 class="brand-heading"><img src="{% static "img/logo_hackinscience.png" %}" width="190px"></h1>
                        <p class="intro-text">
                          Hackinscience 2019 registration are open!!!
                          <br/>
                          From january 21 to january 27, at <a style="color: #999999" href="https://cri-paris.org">cri-paris.org</a>.
                          Register your <a style="color: #999999" href="https://www.eventbrite.fr/e/billets-hackinscience-2019-50308918329">(free) hackinscience tickets now</a>.<br/>
                          More informations on <a style="color: #999999" href="https://events.cri-paris.org/e/322">CRI-events</a>.
                        </p>
<!--                        <a href="#download" class="btn btn-circle js-scroll-trigger">
                            <i class="fa fa-angle-double-down fa-2" aria-hidden="true"></i>
                        </a> -->
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Custom scripts for this template -->
    <script src="{% static "js/grayscale.min.js" %}"></script>

{% endblock %}
