{% extends 'hkis/base.html' %}

{% block nav %}

<nav class="navbar navbar-expand-lg navbar-light bg-light" style="margin-bottom:25px;">
        <a class="navbar-brand" href="/">
            <div style="float:left;">
                <img src="https://hackinscience.github.io/img/logo_hackinscience.png" width="20" height="20" alt="logo"/>
            </div>
            <div style="float:left;margin-left:10px;">
                HackInScience
            </div>
        </a>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#">Dashboard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Exercises</a>
                </li>
                <li class ="nav-item">
                    <a class="nav-link" href="#">Profil</a>
                </li>
            </ul>
            <ul class="navbar-nav navbar-right">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'auth_logout' %}" >Log out</a>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
</nav>
{% endblock %}


{% block body %}
{% endblock %}
