{% extends 'hkis/base.html' %}
{% load static %}

{% block nav %}

<nav class="navbar navbar-expand-lg navbar-dark" style="background: #1e2933; text-transform:uppercase; font-family:Cabin,'Helvetica Neue',Helvetica,Arial,sans-serif; z-index: 100">
  <a class="navbar-brand" href="/">
    <div style="float:left;">
        <img src="{% static "img/logo_hackinscience.png" %}" width="20" height="20" alt="logo"/>
    </div>
    <div style="float:left;margin-left:10px; font-weight: 700">
        HackInScience
    </div>
  </a>
  {% if user.is_authenticated %}
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="{% url 'exercises' %}">Exercises</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'chat' %}">Chat</a>
      </li>
      <li class ="nav-item">
        <a class="nav-link" href="{% url 'profile' user.id %}">Profile</a>
      </li>
      {% if perms.website.view_answer %}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'stats' %}">Stats</a>
      </li>
      {% endif %}
      {% if user.is_staff %}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'admin:index' %}">Admin</a>
      </li>
      {% endif %}
    </ul>
    <ul class="navbar-nav navbar-right">
      <li class="nav-item">
        <a class="nav-link" href="{% url 'auth_logout' %}">Log out</a>
      </li>
    </ul>
  </div><!-- /.navbar-collapse -->
  {% else %}
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav mr-auto"></ul>
    <ul class="navbar-nav navbar-right">
      <li class="nav-item">
        <a class="nav-link" href="{% url 'about' %}">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'auth_login' %}">Login</a>
      </li>
    </ul>
  </div><!-- /.navbar-collapse -->
  {% endif %}
  <!-- Collect the nav links, forms, and other content for toggling -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
</nav>
{% endblock %}
