{% extends "hkis/layout.html" %}
{% load i18n %}
{% load static %}
{% block title %}{% trans "Leaderboard" %}{% endblock %}

{% block container %}

<div class="row" style="height: 92%">
  <div class="col-md-8 offset-md-2" style="height: 100%">
    <h1 class="align-center">Leaderboard</h1>
    <table class="table table-sm table-hover">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">points</th>
          <th scope="col">Username</th>
        </tr>
      </thead>
      <tbody>
        {% for rank, player in players %}
        <tr class="{% if player.username == user.username %}table-primary{% endif %}">
          <td scope="row">
            {{ rank }}
          </td>
          <td scope="row">
            {{ player.points|floatformat:"0" }}
          </td>
          <td scope="row">
            {% if player.public_profile %}
            {{ player.username }}
            {% else %}
            (anonymous)
            {% endif %}
          </td>
        </tr>
        {% endfor %}
        {% if user not in user_list and not user.is_anonymous %}
        <tr class="table-primary">
          <td scope="row">
            {{ user.rank }}
          </td>
          <td scope="row">
            {{ player.points|floatformat:"0" }}
          </td>
          <td scope="row">
            {{ user.username }}
          </td>
        </tr>
        {% endif %}
      </tbody>
    </table>

  </div>
</div>

{% endblock %}
