{% extends "hkis/layout.html" %}
{% load i18n %}
{% load static %}
{% block title %}{% trans "Leaderboard" %}{% endblock %}

{% block container %}

<div class="row" style="height: 92%">
  <div class="col-md-8 offset-md-2" style="height: 100%">
    <h1 class="align-center">Leaderboard</h1>
    <table class="table table-sm table-hover">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Username</th>
        </tr>
      </thead>
      <tbody>
        {% for other in user_list %}
        <tr class="{% if other.username == user.username %}table-primary{% endif %}">
          <td scope="row">
            {{ other.rank }}
          </td>
          <td scope="row">
            {% if other.public_profile %}
            {{ other.username }}
            {% else %}
            (anonymous)
            {% endif %}
          </td>
        </tr>
        {% endfor %}
        {% if user not in user_list %}
        <tr class="table-primary">
          <td scope="row">
            {{ user.rank }}
          </td>
          <td scope="row">
            {{ user.username }}
          </td>
        </tr>
        {% endif %}
      </tbody>
    </table>

  </div>
</div>

{% endblock %}
