{% extends "hkis/layout.html" %}
{% load hkis_extra %}
{% load i18n static bootstrap4 %}
{% block container %}

<h1>About Hackinscience</h1>
<h2>Privacy</h2>
<h3>Personal informations</h3>
<p>
  When registering and using the Hackinscience platform, we store some
  informations about you:

  <ul>
    <li>The email, username, firstname and lastname you give to us at registration time.</li>
    <li>All the exercises you did, when you did them, what you submitted.</li>
  </ul>
</p>

<p>
  It helps us:

  <ul>
    <li>Display ✓ and ✗ marks near exercises so you know which one you succeeded and which one to do.</li>
    <li>Compute some statistics to spot which exercises are too hard to order them better or introduce intermediate ones.</li>
  </ul>
</p>

<p>
  If you want to correct an information we've got about you, delete
  it, or if you'd like all the data about you conveniently archived for
  offline reading, feel free to send a mail to <i>team at hackinscience dot org</i>
  or ask any member of <a href="{% url 'team' %}">the team</a>.
</p>

<h3>Trackers, external analytics tools, advertising</h3>
<p>
  We do not use any trackers, nor any advertising network. But anyway if you don't like being tracked we
  encourage you setup the "Do Not Track" setting in your browser and install the
  <a href="https://fr.wikipedia.org/wiki/Privacy_Badger">Privacy Badger</a> browser extension from the
  <a href="https://fr.wikipedia.org/wiki/Electronic_Frontier_Foundation">Electronic Frontier Foundation</a>.
  It blocks advertisements and tracking cookies that do not respect the Do Not Track setting in a user's web browser.
</p>
{% endblock %}
