{% extends "registration/registration_base.html" %}
{% load i18n static crispy_forms_tags %}
{% block title %}Profile{% endblock %}
{% block container %}

<div class="row">
  <div class="col-md-8 offset-md-2">
    <h2>{% trans "Statistics" %}</h2>
    <p>
      {% blocktrans with date_joined=user.date_joined trimmed %}
      You subscribed on {{ date_joined }}, and sent {{ submit_qty }}
      answers to the correction bot.
      {% endblocktrans %}
    </p>
    <p>
      {% blocktrans trimmed %}
      You resolved {{ done_qty }} exercises, that's {{ done_pct }} of all exercises.
      {% endblocktrans %}
    </p>
    <p>
      {% if rank is not None %}
      {% blocktrans trimmed with rank=rank.rank %}
        You're ranking {{ rank }} over {{ participants }} participants.
      {% endblocktrans %}
      {% else %}
      {% blocktrans trimmed %}
        You're not ranked yet.
      {% endblocktrans %}
      {% endif %}
    </p>
    <h2>{% trans "Preferences" %}</h2>
    <div class="row">
      <div class="col-md-6 ">
        <p>
          Preferred language:
          <script>
            function set_lang(lang) {
                document.cookie = "django_language=" + lang + ";samesite=strict;max-age=31536000;path=/";
                window.location.reload(true);
            }
          </script>
          <ul>
            {% get_current_language as current_language %}
            {% for language_tag, language in languages %}
            <li><button type="button" class="btn btn-{% if language_tag != current_language%}outline-{%endif%}secondary" onclick="set_lang('{{ language_tag }}')">{{ language }}</button></li>
            {% endfor %}
          </ul>
        </p>
      </div>
    </div>
    <h2>{% trans "Personal informations" %}</h2>
    <div class="row">
      <div class="col-md-6 ">
        {% if messages %}
          {% for message in messages %}
          <div{% if message.tags %} class="alert alert-{{ message.tags }}"{% endif %}>{{ message }}</div>
          {% endfor %}
        {% endif %}
        <form action="" method="post" class="form">
          {% csrf_token %}
          {{ form|crispy }}
          {% url 'auth_password_change' as password_change %}
          <p>
          <a href="{{ password_change }}">{% trans "Change your password" %}</a>
          </p>
          <button type="submit" class="btn btn-success btn-lg">{% trans "Update" %}</button>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
