{% extends "registration/registration_base.html" %}
{% load i18n static crispy_forms_tags %}
{% block title %}Profile{% endblock %}
{% block container %}

<div class="row">
  <div class="col-md-6 offset-md-3">
    <h1>{% trans "Profile" %}</h1>
    <h2>{% trans "Statistics" %}</h2>
    <p>
      {% blocktrans with date_joined=user.date_joined trimmed %}
      You subscribed on {{ date_joined }}, and sent {{ submit_qty }}
      answers to the correction bot.
      {% endblocktrans %}
    </p>
    <p>
      {% blocktrans trimmed %}
      You resolved {{ done_qty }} exercises, that's {{ done_pct }} of all exercises.
      {% endblocktrans %}
    </p>
    <p>
      {% if rank is not None %}
      {% blocktrans trimmed %}
        You're ranking {{ rank }} over {{ participants }} participants.
      {% endblocktrans %}
      {% else %}
      {% blocktrans trimmed %}
        You're not ranked yet.
      {% endblocktrans %}
      {% endif %}
    </p>
    <h2>{% trans "Pronal informations" %}</h2>
    {% if messages %}
    <ul class="messages">
      {% for message in messages %}
      <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
      {% endfor %}
    </ul>
    {% endif %}
    <form action="" method="post" class="form">
      {% csrf_token %}
      {{ form|crispy }}
      {% url 'auth_password_change' as password_change %}
      <p>
      <a href="{{ password_change }}">{% trans "Change your password" %}</a>
      </p>
      <button type="submit" class="btn btn-primary btn-lg">{% trans "Update" %}</button>
    </form>
  </div>
</div>
{% endblock %}
