{% extends "hkis/layout.html" %}
{% load i18n static hkis_extra %}
{% block container %}

<div class="row">
    <div class="col-md-8 offset-md-2">
{% md %}

# {% trans "Spororing Hackinscience" %}

{% blocktrans %}Hackinscience is a free, open source, and ad-less
Python learning platform which runs exclusively on your
donations.{% endblocktrans %}


## {% trans "Donate via Github" %}

{% blocktrans %}You can [sponsor me on
Github](https://github.com/sponsors/JulienPalard/), and choose between
multiple tiers, some of them just giving me more time to work on
Hackinscience, some other will provide your with one-to-one video chat
with me.{% endblocktrans %}

## {% trans "Donate anonymousely via liberapay" %}

{% blocktrans %}If you just want to help, but stay anonymous, you can donate on
[liberapay/JulienPalard](https://liberapay.com/JulienPalard), it's a
good way to say "thank you" while providing me with incentive and
motivation to keep focused on open source software in general,
including hackinscience.{% endblocktrans %}

{% endmd %}
{% endblock %}
