{% extends "hkis/layout.html" %}

{% block body %}
<div class="container">
<h2>{{ object.name }}</h2>
<table>
  {% for username, answers in stats.items %}
  <tr>
    <td>
      {{ username }}
    </td>
    {% for answer in answers %}
    <td>
      <a href="{% url "exercise" answer.slug %}">
      {% if answer.is_tried %}
          {% if answer.is_valid %}
            <span class="good">✓</span>
          {% else %}
            <span class="bad">✗</span>
          {% endif %}
      {% endif %}
      </a>
    </td>
    {% endfor %}
  </tr>
  {% endfor %}
</table>
<div class="container">
{% endblock %}
