channels
channels-redis

django>=2.2.0,<3
django-ace
django-debug-toolbar
django-crispy-forms
django-extensions
django-filter
django-model-utils
django-registration-redux
djangorestframework

gunicorn
markdown
pygments

six>1.11  # Temporarily pinned just so we can also install pylint in dev.
