{% extends 'admin/base_site.html' %}
{% load i18n admin_urls static admin_list hkis_extra %}

{% block content %}
{% for bot in stats %}
<h2>{{ bot.name }}</h2>
<dl>
  <dt>Uptime:</dt>
  <dd>{{ bot.uptime|timedelta }}</dd>

  <dt>Last job:</dt>
  <dd>{{ bot.last_time_i_worked|timesince }} ago</dd>

  <dt>Exercises corrected:</dt>
  <dd>{{ bot.number_of_exercises_corrected }}</dd>

  <dt>Median time spent working:</dt>
  <dd>{{ bot.median_work_duration|timedelta }}</dd>

  <dt>Median time spent waiting:</dt>
  <dd>{{ bot.median_wait_duration|timedelta }}</dd>
</dl>
{% endfor %}

{% endblock %}
