.codehilite { background: var(--dark); color: var(--white) }
.codehilite .hll { background-color: var(--pale-yellow) }
.codehilite .c { color: var(--blue-grey); font-style: italic } /* Comment */
.codehilite .err { border:var(--red) } /* Error */
.codehilite .k { color: var(--orange) } /* Keyword */
.codehilite .cm { color: var(--blue-grey); font-style: italic } /* Comment.Multiline */
.codehilite .cp { color: var(--blue-grey) } /* Comment.Preproc */
.codehilite .c1 { color: var(--blue-grey); font-style: italic } /* Comment.Single */
.codehilite .cs { color: var(--blue-grey); font-style: italic } /* Comment.Special */
.codehilite .gd { background: var(--dark-blue) } /* Generic.Deleted */
.codehilite .ge { font-style: italic } /* Generic.Emph */
.codehilite .gr { background: var(--red) } /* Generic.Error */
.codehilite .gh { color: var(--blue); font-weight: bold } /* Generic.Heading */
.codehilite .gi { background: var(--dark-grey) } /* Generic.Inserted */
.codehilite .go {  } /* Generic.Output */
.codehilite .gp { font-weight: bold } /* Generic.Prompt */
.codehilite .gs { font-weight: bold } /* Generic.Strong */
.codehilite .gu { color: var(--green); font-weight: bold } /* Generic.Subheading */
.codehilite .gt {  } /* Generic.Traceback */
.codehilite .kc {  } /* Keyword.Constant */
.codehilite .kd { color: var(--yellow) } /* Keyword.Declaration */
.codehilite .kn {  } /* Keyword.Namespace */
.codehilite .kp { color: var(--gold) } /* Keyword.Pseudo */
.codehilite .kr {  } /* Keyword.Reserved */
.codehilite .kt {  } /* Keyword.Type */
.codehilite .m {  } /* Literal.Number */
.codehilite .s {  } /* Literal.String */
.codehilite .na { color: var(--pale-yellow) } /* Name.Attribute */
.codehilite .nb { color: var(--orange) } /* Name.Builtin */
.codehilite .nc { color: var(--medium-grey); font-weight: bold } /* Name.Class */
.codehilite .no { color: var(--medium-grey) } /* Name.Constant */
.codehilite .nd { color: var(--medium-grey) } /* Name.Decorator */
.codehilite .ni { color: var(--bronze); font-weight: bold } /* Name.Entity */
.codehilite .nf { color: var(--gold); font-weight: bold } /* Name.Function */
.codehilite .nn { color: var(--medium-grey); font-weight: bold } /* Name.Namespace */
.codehilite .nt { color: var(--orange); font-weight: bold } /* Name.Tag */
.codehilite .nv { color: var(--medium-grey) } /* Name.Variable */
.codehilite .ow { color: var(--green); font-weight: bold } /* Operator.Word */
.codehilite .w { color: var(--dark-blue) } /* Text.Whitespace */
.codehilite .mf { color: var(--bronze) } /* Literal.Number.Float */
.codehilite .mh { color: var(--bronze) } /* Literal.Number.Hex */
.codehilite .mi { color: var(--bronze) } /* Literal.Number.Integer */
.codehilite .mo { color: var(--bronze) } /* Literal.Number.Oct */
.codehilite .sb { color: var(--silver) } /* Literal.String.Backtick */
.codehilite .sc { color: var(--silver) } /* Literal.String.Char */
.codehilite .sd { color: var(--silver); font-style: italic } /* Literal.String.Doc */
.codehilite .s2 { color: var(--silver) } /* Literal.String.Double */
.codehilite .se { color: var(--pale-yellow); font-weight: bold } /* Literal.String.Escape */
.codehilite .sh { color: var(--silver) } /* Literal.String.Heredoc */
.codehilite .si { color: var(--green); font-weight: bold } /* Literal.String.Interpol */
.codehilite .sx { color: var(--silver) } /* Literal.String.Other */
.codehilite .sr { color: var(--orange) } /* Literal.String.Regex */
.codehilite .s1 { color: var(--silver) } /* Literal.String.Single */
.codehilite .ss { color: var(--bronze) } /* Literal.String.Symbol */
.codehilite .bp { color: var(--blue) } /* Name.Builtin.Pseudo */
.codehilite .vc { color: var(--medium-grey) } /* Name.Variable.Class */
.codehilite .vg { color: var(--medium-grey) } /* Name.Variable.Global */
.codehilite .vi { color: var(--medium-grey) } /* Name.Variable.Instance */
.codehilite .il { color: var(--blue) } /* Literal.Number.Integer.Long */
