@font-face {
  font-family: Exo;
  src: url(../fonts/exo.ttf);
}

@font-face {
  font-family: Roboto;
  src: url(../fonts/roboto.ttf);
}

:root {
  --dark-blue: rgba(2, 39, 45, 1);
  --medium-blue: rgba(16, 90, 101, 1);
  --yellow: rgba(255, 211, 78, 1);
}

body {
  font-size: 16px;
  font-family: Exo;
}

#header {
  background: var(--yellow);
  color: var(--medium-blue);
  font-size: 1rem;
  line-height: 1;
  margin: 0;
  padding: 1rem 1.5rem;
  text-transform: uppercase;
  #user-tools {
    align-items: center;
    color: var(--dark-blue);
    display: flex;
    font-size: 1rem;
    font-weight: 600;
    a:visited, a:link {
      color: var(--medium-blue);
    }
    #logout-form {
      button {
        color: var(--medium-blue);
	    background: url(../img/logout.svg) center / contain no-repeat;
        padding: 0.75rem 3rem;
	    font-size: 0;
      }
    }
  }
  img {
    height: 2rem;
  }
}


#container .django-ace-widget {
    display: inline-block;
    position: relative;
    width: 100%;
    height: 25rem;
}
