/* Fonts */

@font-face {
  font-family: Exo;
  src: url(../fonts/exo.ttf);
}

@font-face {
  font-family: Roboto;
  src: url(../fonts/roboto.ttf);
}



/* Colors */

:root {
  --dark: rgba(0, 27, 31, 1);
  --dark-blue: rgba(2, 39, 45, 1);
  --medium-blue: rgba(16, 90, 101, 1);
  --medium-blue-70: rgba(16, 90, 101, 0.7);
  --medium-blue-50: rgba(16, 90, 101, 0.5);
  --medium-blue-30: rgba(16, 90, 101, 0.3);
  --medium-blue-16: rgba(16, 90, 101, 0.16);
  --medium-blue-8: rgba(16, 90, 101, 0.08);
  --medium-blue-4: rgba(16, 90, 101, 0.04);
  --medium-blue-line: rgba(136, 173, 178, 1);
  --blue: rgba(65, 154, 167, 1);
  --light-blue: rgba(96, 170, 181, 1);
  --blue-grey: rgba(168, 180, 181, 1);
  --white: rgba(255, 255, 255, 1);
  --white-50: rgba(255, 255, 255, 0.5);
  --white-40: rgba(255, 255, 255, 0.4);
  --white-16: rgba(255, 255, 255, 0.16);
  --white-8: rgba(255, 255, 255, 0.08);
  --pale-yellow: rgba(255, 249, 215, 1);
  --yellow: rgba(255, 211, 78, 1);
  --yellow-30: rgba(255, 211, 78, 0.3);
  --gold: rgba(239, 160, 29, 1);
  --orange: rgba(239, 160, 29, 1);
  --orange-20: rgba(239, 160, 29, 0.2);
  --bronze: rgba(221, 116, 83, 1);
  --red: rgba(255, 99, 78, 1);
  --green: rgba(96, 210, 134, 1);
  --light-grey: rgba(229, 229, 229, 1);
  --silver: rgba(176, 176, 176, 1);
  --medium-grey: rgba(152, 152, 152, 1);
  --medium-grey-2: rgba(130, 130, 130, 1);
  --dark-grey: rgba(88, 88, 88, 1);
  --dark-90: rgba(0, 27, 31, 0.9);
  --dark-40: rgba(0, 0, 0, 0.4);
  --dark-20: rgba(0, 0, 0, 0.2);
}



/* Main structure */

body {
  background: var(--pale-yellow);
  color: var(--medium-blue);
  display: flex;
  flex-direction: column;
  font-family: Exo;
  font-size: 16px;
  margin: 0;
  min-height: 100vh;
  overflow-x: hidden;

  main {
    flex: 1;
    padding: 2rem;
  }
}

nav {
  background: var(--yellow);

  ul {
    align-items: center;
    display: flex;
    height: 2rem;
    gap: 1.5rem;
    margin: 0;
    padding: 1rem 1.5rem;

    li {
      display: block;
      font-size: 0.875rem;
      font-weight: 600;
      line-height: 1;
      text-transform: uppercase;

      a {
        color: var(--dark-blue);
        text-decoration: inherit;
      }
    }

    li.home {
      flex: 1;
      font-color: transparent;
      font-size: 0;

      a {
        background: url(../img/logo.svg) left center / cover no-repeat;
        display: block;
        height: 2rem;
        width: 7.2rem;
      }
    }

    li.login,
    li.profile {
      margin-left: 2rem;
      text-transform: inherit;

      a {
        align-items: center;
        background: var(--dark-blue);
        border-radius: 2rem;
        color: var(--white);
        display: flex;
        padding: 0.75rem 1.5rem;

        &::before {
          background: url(../img/user.svg) top center / contain no-repeat;
          content: "";
          display: block;
          height: 1.2rem;
          margin-right: 0.5rem;
          width: 1.2rem;
        }
        .todo {
          border-radius: 50%;
          width: 1.3rem;
          height: 1.3rem;
          line-height: 1.3rem;
          background: var(--red);
          text-align: center;
          margin-left: 0.8rem;
        }
      }
    }

    li.logout {
      button {
        background: url(../img/logout.svg) center / contain no-repeat;
        height: 1.2rem;
        font-size: 0;
        width: 1.2rem;

        &:hover,
        &:focus {
          box-shadow: none;
          transform: none;
        }
      }
    }
  }
}

footer {
  background: var(--dark-blue);

  ul {
    align-items: center;
    justify-content: center;
    display: flex;
    height: 0.75rem;
    gap: 1.5rem;
    margin: 0;
    padding: 1rem 1.5rem;

    li {
      display: block;
      font-size: 0.75rem;
      font-weight: 600;
      line-height: 1;

      a {
        color: var(--white);
        text-decoration: inherit;
      }
    }
  }
}



/* Headings */

h1 {
  font-size: 46px;
  line-height: 58px;
  margin: 1em 0 1em;
  text-align: center;
}

h2 {
  font-size: 42px;
  line-height: 46px;
  margin: 2em 0 1em;
}

h3 {
  font-size: 30px;
  line-height: 38px;
  margin: 2em 0 1em;
}

h4 {
  font-size: 25px;
  margin: 2em 0 1em;
}

h5 {
  font-size: 22px;
  margin: 2em 0 1em;
}

h6 {
  font-size: 16px;
  line-height: 22px;
  margin: 2em 0 1em;
}



/* Common tags */

a {
  color: inherit;
}

label {
  display: block;
  text-align: left;
  margin: 1rem auto 0;
}

input,
select,
button,
progress {
  accent-color: var(--medium-blue);

  &::-moz-progress-bar {
    background: var(--medium-blue);
  }
}

input,
select {
  background: var(--white);
  border: 1px solid var(--medium-blue-16);
  border-radius: 0.25rem;
  line-height: 1rem;
  margin: 0.5rem 0;
  padding: 0.75rem;
}

.buttons li a,
button {
  appearance: none;
  background: var(--yellow);
  border: none;
  border-radius: 2rem;
  color: var(--medium-blue);
  cursor: pointer;
  display: inline-block;
  font: inherit;
  font-weight: 600;
  margin: 0.5em 0;
  text-align: center;
  text-decoration: inherit;
  transition: box-shadow 0.2s, transform 0.1s;
  padding: 0.75rem 1.5rem;

  &:hover,
  &:focus {
    box-shadow: -0.1em 0.1em 0.5em var(--medium-blue-16);
    transform: translate(0.1em, -0.1em);
  }
}

button {
  display: block;
}

progress {
  background: var(--white);
  overflow: hidden;
}

::-webkit-progress-value {
  background: var(--medium-blue);
}

::-webkit-progress-bar {
  background: var(--white);
}



/* Common classes */

.subtitle {
  font-size: 1.375rem;
  font-weight: 600;
  margin: -2rem 0 1rem;
}

.buttons {
  display: block;
  padding-left: 0;

  li {
    display: block;
  }
}

.pagination {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 2rem;
  padding-left: 0;

  li {
    display: block;

    a,
    &.page-number {
      border: 1px solid var(--medium-blue);
    }

    a {
      font-size: 1.5rem;
      letter-spacing: -0.2rem;
      line-height: 1.5rem;
      padding: 0.15rem 1rem;
    }

    a:not([href]) {
      opacity: 0.3;
    }

    &:first-child a {
      border-radius: 2rem 0 0 2rem;
    }

    &:last-child a {
      border-radius: 0 2rem 2rem 0;
    }

    &.page-number {
      line-height: 2rem;
      padding: 0.15rem 2rem;
    }

    &:nth-child(2n) {
      margin: 0 -1px;
    }
  }
}

.progress {
  align-items: center;
  display: flex;
  padding-right: 1.5rem;

  progress {
    accent-color: var(--front);
    background: var(--back);
    border: none;
    border-radius: 0.25rem;
    height: 0.5rem;

    &::-moz-progress-bar {
      background: var(--front);
    }
  }

  ::-webkit-progress-value {
    background: var(--front);
  }

  ::-webkit-progress-bar {
    background: var(--back);
  }

  .number {
    color: var(--front);
    font-weight: 600;
    padding-left: 1rem;
  }

  .total {
    text-wrap: nowrap;
  }
}

.tags {
  display: block;
  margin: 0;
  padding: 0;

  li {
    border-radius: 0.25rem;
    display: inline-block;
    line-height: 1;
    padding: 0.25rem;
    text-transform: uppercase;
  }
}

.tabs {
  background: var(--dark);
  border-radius: 1.5rem;
  display: flex;
  font-size: 0.85em;
  font-weight: 600;
  margin: 0;
  text-transform: uppercase;
  padding: 0.35rem;
  width: max-content;

  li {
    display: block;

    a {
      align-items: center;
      border-radius: 1rem;
      cursor: pointer;
      display: flex;
      padding: 0 0.5rem;
      text-decoration: inherit;

      &::before {
        background: 50% / auto 60% no-repeat;
        content: "";
        display: inline-block;
        width: 2rem;
        height: 2rem;
      }
    }

    &.selected a {
      background-color: var(--medium-blue);
    }
  }
}

.tab {
  display: none;

  &.selected {
    display: initial;
  }
}

.navigate {
  display: flex;
  justify-content: center;
  padding: 1em 0 0;

  li {
    border: 1px solid var(--medium-blue);
    border-right-width: 0;
    display: block;

    &:first-of-type {
      border-top-left-radius: 2em;
      border-bottom-left-radius: 2em;
    }

    &:last-of-type {
      border-right-width: 1px;
      border-top-right-radius: 2em;
      border-bottom-right-radius: 2em;
    }

    &.highlight {
      background: var(--yellow);
      border-color: var(--yellow);
      color: var(--dark-blue);
    }

    a {
      display: block;
      padding: 0.5em 1em;
      text-decoration: inherit;

      &.disabled {
        color: var(--white-16);
        cursor: not-allowed;
      }
    }

    &.first a::before {
      content: "↤ ";
    }

    &.previous a::before {
      content: "← ";
    }

    &.next a::after {
      content: " →";
    }

    &.last a::after {
      content: " ↦";
    }
  }
}

.messages,
.errorlist {
  display: block;
  margin: 0;
  padding: 0;

  > li {
    background: var(--dark-20);
    border-left: 1em solid;
    border-radius: 1em;
    display: block;
    margin: 1em 0;
    padding: 1em;

    &.success,
    &.info {
      border-color: var(--green);
    }

    &.warning {
      border-color: var(--orange);
    }

    &.danger,
    &.failure {
      border-color: var(--red);
    }

    > :first-child {
      margin-top: 0;
    }

    > :last-child {
      margin-bottom: 0;
    }
  }

  &.errorlist > li {
    border-color: var(--red);
  }
}

.easy {
  --level-color: var(--green);
}

.medium {
  --level-color: var(--yellow);
}

.hard {
  --level-color: var(--red);
}

.very-hard {
  --level-color: var(--dark);
}

.helptext {
  font-size: 0.85em;
  margin: 0.5em 0;
  opacity: 80%;
  text-align: left;
}

.codehilite {
  border-radius: 1em;
  overflow-x: scroll;

  pre {
    padding: 0.5em 1.5em;
  }
}

body#sponsor {
  main {
    div.donation-means {
      display: flex;
      align-items: center;
      a.donation-mean {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0.30rem;
        height: 2rem;
        text-decoration: none;
        border-radius: 2rem;
        margin-right: 2rem;
        width: 12em;
        font-weight: 600;
        background: var(--yellow);
        color: var(--medium-blue);
        justify-content: flex-start;
        img {
          margin: .5rem;
        }
      }
    }
  }
}

body#genepy-team {
  .teachers {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .teacher {
      width: 20em;
      text-align: center;
    }
  }
}

body#help {
  main {
    font-weight: 500;
    box-sizing: border-box;
    margin: 0 auto;
    text-align: center;
    h1 {
      margin: 2.5rem 0 2.5rem;
      font-weight: 800;
    }
    h2, h3 {
      margin: 0.75rem;
    }
    h2 {
      font-size: 30px;
      font-weight: 800;
    }
    ul {
      text-align: left;
    }
    a.button {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0.30rem;
      height: 2.5rem;
      text-decoration: none;
      border-radius: 2rem;
      width: 12em;
      font-weight: 600;
    }
    section {
      position: relative;
      padding-top: 2rem;;
      padding-bottom: 3rem;
    }
    div.help-channels {
      display: flex;
      flex-wrap: wrap;
      gap: 1em;
      justify-content: space-evenly;
      margin: 2rem;
      a.help-channel {
        text-decoration: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        .imgbox {
	      background: white;
	      border-radius: 2rem;
	      padding: 1rem;
	      box-shadow: 0px 5px 0px var(--yellow);
          margin-bottom: 1rem;
          img {
            width: 4rem;
            height: 4rem;
          }
        }
        .button {
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 0.30rem;
          height: 2.5rem;
          border-radius: 2rem;
          width: 12em;
          font-weight: 600;
          background: var(--yellow);
          color: var(--medium-blue);
        }
      }
    }
    section#reporting-bugs {
      color: var(--white);
      a.button {
        background: var(--white);
        color: var(--medium-blue);
      }
      a.button-with-img {
        justify-content: flex-start;
      }
      &::before {
        background: var(--blue);
        bottom: 0;
        content: "";
        left: min(-2rem, calc(-50vw + 50%));
        position: absolute;
        right: min(-2rem, calc(-50vw + 50%));
        top: 0;
        z-index: -1;
      }
      div.squares {
        display: flex;
        div.square {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: space-between;
          width: 100%;
          border-radius: 1rem;
          margin: .8rem;
          height: 14rem;
          background: var(--light-blue);
          padding: 2rem;
          img {
            background: black;
            object-fit: cover;
            border-radius: 50%;
            height: 5rem;
            width: 5rem;
          }
          a img {
            background: transparent;
            height: 2.2rem;
            width: 2.2rem;
            margin-right: .5rem;
          }
        }
      }
    }
    section#i-need-money {
      color: var(--medium-blue);
      &::before {
        background: var(--yellow);
        bottom: 0;
        content: "";
        left: min(-2rem, calc(-50vw + 50%));
        position: absolute;
        right: min(-2rem, calc(-50vw + 50%));
        top: 0;
        z-index: -1;
      }
    }
    section#faq {
      color: var(--white);
      &::before {
        background: var(--medium-blue);
        bottom: 0;
        content: "";
        left: min(-2rem, calc(-50vw + 50%));
        position: absolute;
        right: min(-2rem, calc(-50vw + 50%));
        top: 0;
        z-index: -1;
      }
      details {
        text-align: left;
        border-bottom: 1px solid var(--medium-blue-line);
        padding: 1rem;
        summary {
          display: block;
          font-size: 1rem;
          cursor: pointer;
        }
        summary::after {
          content: '⌵';
          width: 1em;
          font-size: 1.5rem;
          transition: 0.3s;
          float: right;
        }
      }
      details[open] > summary {
        font-weight: 800;
        margin-bottom: 2rem;
      }
      details[open] > summary::after {
        transform: rotate(180deg);
      }
    }
  }
}

/* Pages */

body#page,
body#about,
body#sponsor,
body#legal,
body#privacy {
  main {
    box-sizing: border-box;
    margin: 0 auto;
    max-width: 100%;
    width: 80vw;
  }
}

body#index {
  background:
    url(../img/top-curves.svg) top left / 40% auto no-repeat,
    linear-gradient(var(--dark-20), transparent, var(--dark-20)),
    url(../img/stars.webp);

  main {
    box-sizing: border-box;
    color: var(--white);
    padding: 0 5rem;
    max-width: 100%;
    margin: 0 auto;
    width: 80rem;

    h2 {
      margin-top: 0;
    }

    .buttons {
      display: flex;
      gap: 0 1rem;
      padding: 0;

      li {
        display: block;

        a {
          background: var(--yellow);
          border-radius: 2rem;
          color: var(--medium-blue);
          display: flex;
          font-weight: 600;
          padding: 0.75rem 1.5rem;
          text-decoration: inherit;

          &::before {
            display: block;
            font-size: 1.2rem;
            height: 1.2rem;
            line-height: 1.2;
            margin-right: 0.5rem;
            width: 1.2rem;
          }
        }
      }
    }

    section {
      padding: 5em 0;
    }

    #exercises,
    #teacher,
    #support {
      color: var(--medium-blue);
      position: relative;
      text-align: center;

      &::before {
        background: var(--background);
        bottom: 0;
        content: "";
        left: min(-2rem, calc(-50vw + 50%));
        position: absolute;
        right: min(-2rem, calc(-50vw + 50%));
        top: 0;
        z-index: -1;
      }
    }

    #learn {
      align-items: center;
      display: flex;

      h1 {
        margin-top: 0;
        text-align: left;
      }

      .buttons {
        margin-top: 3rem;

        a {
          color: var(--dark-blue);
        }

        li.login a {
          background: var(--pale-yellow);

          &::before {
            background: url(../img/user.svg) top center / contain no-repeat;
            content: "";
            filter: brightness(10%) sepia(100%) hue-rotate(130deg);
          }
        }
      }

      #categories {
        height: 27em;
        width: 35em;

        article {
          border-radius: 1rem;
          box-shadow: 0.8em 0 1.2em rgba(0, 0, 0, 0.2);
          color: var(--medium-blue);
          display: flex;
          flex-direction: column;
          height: 25em;
          padding: 1rem 2rem;
          position: absolute;
          transform-origin: center right;
          transition: filter 0.15s;
          width: 15em;

          h4 {
            margin: 1rem 0 0.6rem;
            text-overflow: ellipsis;
          }

          ul:not(.buttons) {
            flex: 1;
            overflow-y: auto;
            padding-left: 1em;
          }

          .progress {
            --back: var(--light-grey);
            --front: var(--medium-blue);
          }

          .buttons {
            margin: 1.2rem 0 1rem;

            li {
              flex: 1;

              a {
                justify-content: center;

                &::before {
                  content: "→ ";
                  font-size: 1.2rem;
                  line-height: 1;
                }
              }
            }
          }

          &:nth-child(3n+1) {
            background: var(--pale-yellow);
          }

          &:nth-child(3n+2) {
            background: var(--yellow);

            .buttons a {
              background: var(--pale-yellow);
            }
          }

          &:nth-child(3n) {
            background: var(--orange);
          }

          &:nth-child(1) {
            z-index: 5;
          }

          &:nth-child(2) {
            scale: 0.9;
            translate: 1.5rem;
            z-index: 4;
          }

          &:nth-child(3) {
            scale: 0.8;
            translate: 3rem;
            z-index: 3;
          }

          &:nth-child(4) {
            scale: 0.7;
            translate: 4.5rem;
            z-index: 2;
          }

          &:nth-child(5) {
            scale: 0.6;
            translate: 6rem;
            z-index: 1;
          }

          &:hover {
            filter: none !important;
            scale: none !important;
            z-index: 5;
          }
        }

        &:has(article:hover) article {
          filter: saturate(0.1) brightness(2) opacity(0.3);
        }
      }
    }

    #exercises {
      --background: var(--pale-yellow);

      dl {
        display: grid;
        gap: 0.5rem 2rem;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto auto;
        grid-auto-flow: column;

        dt {
          font-size: 1rem;
          font-weight: 600;

          &::before {
            border-radius: 1rem;
            content: "";
            display: block;
            height: 4rem;
            margin: 0 auto 1rem;
            width: 4rem;
          }

          &#number::before {
            background:
              url(../img/exercise.svg) center / 50% no-repeat,
              var(--yellow);
          }

          &#categories::before {
            background:
              url(../img/folder.svg) center / 50% no-repeat,
              var(--orange);
          }

          &#solutions::before {
            background:
              url(../img/check.svg) center / 50% no-repeat,
              var(--green);
          }
        }

        dd {
          margin: 0;
        }
      }
    }

    #leaderboards {
      columns: 2;
      gap: 2rem;
      text-align: center;

      h2,
      .subtitle,
      .buttons {
        column-span: all;
      }

      .subtitle {
        margin: -2rem 0 3rem;
      }

      h3 {
        background: linear-gradient(to right, transparent, rgba(255, 255, 255, 0.2), transparent);
        break-after: avoid;
        font-size: 14px;
        line-height: 2.2;
        margin-top: 0;
        text-transform: uppercase;
      }

      .buttons {
        margin-top: 3rem;
        justify-content: center;
      }

      .leaderboard {
        break-inside: avoid;
        margin-left: 2rem;
        padding: 0;

        li {
          background: linear-gradient(to bottom, rgba(6, 55, 63, 0.90), rgba(4, 47, 54, 0.90));
          border: 1px solid transparent;
          border-radius: 1rem;
          display: block;
          font-size: 20px;
          margin: 1rem;
          padding: 2rem;
          position: relative;

          span {
            display: block;
            font-size: 14px;
            opacity: 50%;
          }

          &:first-child {
            border-color: var(--orange);
            box-shadow: 0 0.25em 0.5em var(--orange-20);
            font-size: 28px;
          }

          &::before {
            background:
              url(../img/cup.svg) center / 50% no-repeat,
              linear-gradient(to bottom, var(--color), var(--color)),
              linear-gradient(to bottom, var(--pale-yellow), var(--color));
            background-clip:
              border-box,
              content-box,
              border-box;
            background-origin:
              content-box,
              content-box,
              border-box;
            border: 1px solid transparent;
            border-radius: 1em;
            content: "";
            display: block;
            height: 3em;
            left: -1.5em;
            overflow: hidden;
            position: absolute;
            top: 50%;
            transform: translatey(-50%);
            width: 3em;
          }

          &:nth-child(1)::before {
            --color: var(--gold);
          }

          &:nth-child(2)::before {
            --color: var(--silver);
          }

          &:nth-child(3)::before {
            --color: var(--bronze);
          }
        }
      }
    }

    #teacher {
      --background: var(--yellow);

      dl {
        background:
          url(../img/computer.svg) 15% 10% / 30% auto no-repeat,
          url(../img/screen.svg) 85% 90% / 30% auto no-repeat;
        background-clip: border-box;
        counter-reset: step;
        overflow: auto;

        dt {
          counter-increment: step;
          font-size: 25px;
          font-weight: 600;

          &::before {
            background: var(--orange);
            border-radius: 100%;
            color: var(--pale-yellow);
            content: counter(step);
            display: block;
            font-size: 2em;
            line-height: 1.8em;
            margin: 8rem 0 1rem;
            text-align: center;
            width: 1.8em;
          }
        }

        dd {
          margin: 0.5em 0 8rem;
        }

        :is(dt, dd):nth-of-type(odd) {
          padding-left: 45%;
          padding-right: 20%;
          text-align: left;
        }

        :is(dt, dd):nth-of-type(even) {
          padding-left: 20%;
          padding-right: 45%;
          text-align: right;

          &::before {
            margin-left: auto;
          }
        }

        ul {
          padding-left: 1.5em;
        }
      }

      .buttons {
        justify-content: center;

        a {
          background: var(--medium-blue);
          color: var(--white);
        }
      }
    }

    #support {
      --background: var(--pale-yellow);
      background: url(../img/coffee.svg) 10% 50% / 20% auto no-repeat;
      padding-left: 35%;
      text-align: left;
      width: 65%;

      .subtitle {
        margin-bottom: 2em;
      }

      .buttons {
        margin: 2em 0;

        a {
          color: var(--dark-blue);

          &::before {
            background: top center / contain no-repeat;
            content: "";
          }
        }

        li.liberapay a::before {
          background-image: url(../img/liberapay.svg);
        }

        li.github a::before {
          background-image: url(../img/github.svg);
        }

        li.paypal a::before {
          background-image: url(../img/paypal.svg);
        }
      }
    }
  }
}

body#leaderboard,
body#teams,
body#team-stats,
body#stats,
body#team {
  background:
    linear-gradient(var(--dark-40), var(--dark-40)),
    url(../img/stars.webp);

  main {
    box-sizing: border-box;
    color: var(--white);
    padding: 0 5rem;
    max-width: 100%;
    margin: 0 auto;
    text-align: center;
    width: 80rem;

    .tabs {
      margin: 3em auto;

      li {
        a {
          padding: 0 3rem;
        }

        &.individual a::before {
          background-image: url(../img/personal.svg);
        }

        &.teams a::before {
          background-image: url(../img/shared.svg);
        }
      }
    }

    table {
      border-spacing: 0;
      margin: 4rem 0;
      width: 100%;

      .number {
        text-align: center;
      }

      .string {
        text-align: left;
      }

      thead th {
        font-size: 0.875rem;
        font-weight: 400;

        &.rotate {
          text-align: center;
          vertical-align: top;
          translate: rotate(180deg) calc((100% - 1.4em) / 2);
          writing-mode: vertical-lr;
        }
      }

      tbody {
        th,
        td {
          background-clip: padding-box;
          border-bottom: 2px solid transparent;
          border-top: 2px solid transparent;
          padding: 0.5rem 0;
          position: relative;

          a {
            text-decoration: inherit;
          }

          &::before {
            background: linear-gradient(to bottom, rgba(6, 55, 63, 0.90), rgba(4, 47, 54, 0.90));
            content: "";
            height: 100%;
            left: 0;
            right: 0;
            position: absolute;
            top: 0;
            z-index: -1;
          }

          &:first-child::before {
            border-radius: 0.5rem 0 0 0.5rem;
          }

          &:last-child::before {
            border-radius: 0 0.5rem 0.5rem 0;
          }

          &:nth-child(2n) {
            color: var(--white-50);
          }
        }

        tr.rank-1,
        tr.rank-2,
        tr.rank-3 {
          font-size: 1.2em;

          td {
            border-top: 4px solid transparent;
            border-bottom: 4px solid transparent;
            padding: 1rem 0;

            &::before {
              border-bottom: 1px solid;
              border-top: 1px solid;
            }

            &:first-child::before {
              border-left: 1px solid;
              border-radius: 0.5rem 0 0 0.5rem;
              left: -2rem;
            }

            &:last-child::before {
              border-right: 1px solid;
              border-radius: 0 0.5rem 0.5rem 0;
              right: -2rem;
            }

            &:first-child::after {
              background: url(../img/cup.svg) center / 65% no-repeat;
              border-radius: 0.25rem;
              content: "";
              display: block;
              height: 2rem;
              left: -3rem;
              position: absolute;
              top: 0.75rem;
              width: 2rem;
            }
          }

          &.rank-1 td::before {
            border-color: var(--gold);
          }

          &.rank-1 td::after {
            background-color: var(--gold);
          }

          &.rank-2 td::before {
            border-color: var(--silver);
          }

          &.rank-2 td::after {
            background-color: var(--silver);
          }

          &.rank-3 td::before {
            border-color: var(--bronze);
          }

          &.rank-3 td::after {
            background-color: var(--bronze);
          }
        }
      }
    }
  }
}

body#team-stats {
  main {
    width: 100%;
    padding: 0 2rem;
  }
  table.stats {
    span {
      cursor: default;
    }
  }
}

body#exercises {
  main {
    margin: 0 auto;
    margin-left: auto;
    margin-right: auto;
    max-width: 60rem;
    padding-left: 20rem;
    position: relative;

    section {
      align-items: stretch;
      background: var(--medium-blue-70);
      border-radius: 1rem;
      color: var(--white);
      display: flex;
      flex-wrap: wrap;
      overflow: hidden;

      h1 {
        background: var(--medium-blue);
        border-radius: 1rem 0 0 0;
        flex: 1;
        font-size: 1.2rem;
        line-height: 3rem;
        margin: 0;
        padding: 0.5rem 0.5rem 0.5rem 1.5rem;
        text-align: left;
        text-transform: uppercase;
      }

      .progress {
        --back: var(--dark-blue);
        --front: var(--green);
        background: var(--medium-blue);
      }

      .description {
        padding: 1rem 1.5rem;
        width: 100%;

        .buttons {
          margin: 1em 0 0;

          a {
            display: inline-block;
            padding: 1rem 1.25rem;
            text-transform: uppercase;

            &::before {
              content: "→ ";
              font-size: 1.2rem;
              line-height: 1;
            }
          }
        }
      }
    }

    aside.tags {
      background: var(--yellow);
      border-radius: 1rem;
      left: 2rem;
      overflow: hidden;
      padding: 0.5rem;
      position: absolute;
      top: 2rem;
      width: 15rem;

      h2 {
        font-size: 1.2rem;
        line-height: 3rem;
        margin: 0;
        text-align: center;

        a {
            text-decoration: inherit;
        }
      }

      ul {
        margin: 0.5rem;
        padding: 0;

        li {
          display: block;
          margin: 0.5rem 0;

          a {
            display: flex;
            font-size: 0.8125rem;
            text-decoration: inherit;
            text-transform: uppercase;

            input {
              margin: 0 0.5rem 0 0;
              pointer-events: none;
            }

            span {
              margin-left: auto;
            }
          }
        }
      }
    }

    aside.legend {
      h2 {
        display: none;
      }

      ul {
        display: flex;
        padding: 0 2em;

        li {
          display: block;
          flex: 1;

          &::before {
            background: var(--level-color);
            border-radius: 0 0.4rem 0.4rem 0;
            content: "";
            display: inline-block;
            height: 2rem;
            margin-right: 0.5rem;
            vertical-align: middle;
            width: 0.5rem;
          }
        }
      }
    }

    table {
      background: white;
      box-shadow: 0 0 0 1px var(--light-grey);
      border-collapse: collapse;
      border-radius: 1rem;
      margin: 2rem 0;
      width: 100%;

      tr + tr td {
        border-top: 1px solid var(--light-grey);
      }

      td {
        padding: 1rem;

        &.status {
          color: transparent;
          font-size: 0;
          padding: 0;
          width: 4rem;

          &::before {
            background: var(--level-color);
            border-radius: 0 0.4rem 0.4rem 0;
            content: "";
            display: inline-block;
            height: 2.5rem;
            margin-right: 1.25rem;
            vertical-align: middle;
            width: 0.5rem;
          }

          &::after {
            background: center / cover no-repeat;
            content: "";
            display: inline-block;
            height: 2rem;
            vertical-align: middle;
            width: 2rem;
          }
        }

        &.title {
          p {
            color: var(--silver);
            margin: 0;
          }

          a {
            color: var(--medium-blue);
            font-weight: 700;
            text-decoration: inherit;
          }
        }

        .tags li {
          background: var(--medium-blue-16);
          font-size: 0.65rem;
        }

        &.link {
          a {
            display: block;
            padding: 0.5rem 1.5rem;
            text-align: center;
            text-transform: uppercase;

            &::before {
              background: center / cover no-repeat;
              content: "";
              display: inline-block;
              height: 1rem;
              margin-right: 0.5rem;
              width: 1rem;
            }
          }
        }
      }

      tr.done {
        td.status::after {
          background-image: url(../img/state-resolved.svg);
        }

        td.link a {
          background-color: transparent;
          border: 1px solid;
          color: var(--green);

          &::before {
            background-image: url(../img/state-resolved.svg);
            vertical-align: -10%;
          }
        }
      }

      tr.ongoing {
        td.status::after {
          background-image: url(../img/state-in-progress.svg);
        }

        td.link a {
          background: var(--yellow);
          font-weight: 600;

          &::before {
            content: "→ ";
            font-size: 1.2rem;
            line-height: 1;
          }
        }
      }

      tr.new {
        td.status::after {
          background-image: url(../img/state-zero.svg);
        }

        td.link a {
          background: var(--yellow);
          font-weight: 600;

          &::before {
            content: "→ ";
            font-size: 1.2rem;
            line-height: 1;
          }
        }
      }
    }
  }
}

body#exercise {
  display: grid;
  grid-template-rows: auto 1fr auto;
  height: 100vh;

  main {
    background: var(--dark-blue);
    color: var(--white);
    display: grid;
    gap: 2em;
    grid-template-columns: 1fr max(min(50em, 40%), 20em);

    #panel {
      display: grid;
      grid-template-rows: auto 1fr auto;
      height: 0;
      min-height: 100%;
      order: 2;

      #header {
        display: flex;

        .tags {
          flex: 1;

          li {
            background: var(--medium-blue);
            padding: 0.75em;
          }
        }

        .tabs li {
          a {
            font-size: 0;
          }

          &.correction a::before {
            background-image: url(../img/correction.svg);
          }

          &.instructions a::before {
            background-image: url(../img/instructions.svg);
          }
        }
      }

      #instructions,
      #correction {
        overflow: hidden scroll;

        h1 {
          font-size: 20px;
          line-height: 1.4;
          margin: 1.5em 0 0;
          text-align: left;

          &::before {
            background: center / cover no-repeat;
            content: "";
            display: inline-block;
            height: 1rem;
            margin-right: 0.5rem;
            width: 1rem;
          }
        }

        &.new h1::before {
          background-image: url(../img/state-zero.svg);
        }

        &.done h1::before {
          background-image: url(../img/state-resolved.svg);
        }

        h2 {
          font-size: 18px;
        }

        h3 {
          font-size: 16px;
        }

        h4 {
          font-size: 15px;
        }

        h2,
        h3,
        h4 {
          line-height: 1.2;
        }

        .subtitle {
          color: var(--blue);
          font-size: 12px;
          font-weight: 400;
          margin: 0 0 2em;
        }
      }

      #buttons {
        position: relative;

        #send {
          bottom: 1em;
          margin-left: -2em;
          transform: translatex(-100%);
          position: absolute;
          text-align: center;
          z-index: 1;

          button {
            margin: 0.5em 1em;
            padding: 1em 1.5em;

            &[disabled=true] {
              background: var(--yellow-30);
              color: var(--white-16);
              cursor: not-allowed;
            }
          }
        }

        .navigate {
        }
      }
    }

    #editor {
      display: flex;
      flex: 1;
      flex-direction: column;
      order: 1;

      form {
        display: flex;
        flex-direction: column;
        flex: 1;

        .django-ace-editor {
          background: var(--dark);
          border-radius: 1em;
          font-size: 16px;
          flex: 1;
          padding: 1em 0;
          overflow: hidden;

          .django-ace-widget {
            height: 100%;
            width: 100%;
          }

          .ace_editor {
            overflow: visible;

            .ace_gutter {
              background: var(--medium-blue);
              margin: -1em 0;
              padding: 1em 0;
            }

            .ace_scroller {
              background: var(--dark);
              overflow: visible;
            }
          }
        }
      }
    }
  }
}

body#solutions {
  background: var(--dark-blue);
  color: var(--white);

  h2 {
    display: none;
  }

  .subtitle {
    margin: 2em 0 -2em;
    text-align: center;
  }

  .solution-selector {
    display: block;
    margin: 2em auto;
  }

  .tabs {
    margin: auto;

    li {
      &.personal a::before {
        background-image: url(../img/personal.svg);
      }

      &.shared a::before {
        background-image: url(../img/shared.svg);
      }
    }
  }

  .solutions {
    .solution {
      .django-ace-widget {
        width: 100%;
        height: 400px;
      }
    }
    .disabled {
      display: none;
    }
  }
}

body#profile {
  main {
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 3fr 2fr;
    margin: 0 auto;
    padding-top: 0;
    max-width: 80vw;
    width: 80rem;

    #join-team-select {
      width: 25rem;
    }

    .select2-container {
      .select2-selection--single {
        height: 2.7rem;
      }
      .select2-selection__rendered {
        padding: 0.5em;
      }

    }

    #create-team-input {
      width: 25rem;
    }

    aside {
      border-left: 1px solid var(--medium-blue-16);
      grid-column: 2;
      grid-row: span 3;
      margin: 5.2em 0 2em 2em;
      padding-left: 2rem;

      h2 {
        margin-top: 0;
      }
    }

    section {
      grid-column: 1;
      padding-right: 2rem;
    }

    #statistics {
      color: var(--white);
      padding: 4em 0;
      position: relative;
      grid-column: 1 / span 2;

      h1,
      h2 {
        display: none;
      }

      &::before {
        background:
          linear-gradient(var(--dark-20), var(--dark-20)),
          url(../img/stars.webp);
        bottom: 0;
        content: "";
        left: min(-2rem, calc(-50vw + 50%));
        position: absolute;
        right: min(-2rem, calc(-50vw + 50%));
        top: 0;
        z-index: -1;
      }

      dl {
        display: flex;
        font-size: 14px;
        margin: 0;

        dt {
          display: none;
        }

        dd {
          margin: 0;
        }

        .login + dd {
          font-size: 1.5em;
          font-weight: 600;
          max-width: 30%;
          overflow: hidden;
          text-overflow: ellipsis;
          position: absolute;
        }

        .date + dd {
          flex: 1;
          margin-top: 2em;
          min-width: 30%;
        }

        .icon + dd {
          display: flex;
          flex-direction: column;
          justify-content: center;
          margin: 0 1%;
          padding-left: 5.5rem;
          position: relative;

          &::before {
            background: center / 30% no-repeat, var(--white-8);
            border-radius: 2rem;
            content: "";
            display: block;
            height: 4rem;
            left: 0.75rem;
            position: absolute;
            top: 50%;
            transform: translatey(-50%);
            width: 4rem;
          }

          sup {
            font-size: 0.7em;
            line-height: 0;
            vertical-align: 0.35em;
          }

          .number {
            font-size: 2.3em;
            font-weight: 600;
            line-height: 1;
          }
        }

        .points + dd::before {
          background-image: url(../img/points.svg);
        }

        .rank + dd::before {
          background-image: url(../img/rank.svg);
        }

        .solutions + dd::before {
          background-image: url(../img/solutions.svg);
        }

        .teams + dd::before {
          background-image: url(../img/teams.svg);
        }
      }
    }

    #leaderboard {
      .buttons a {
        background: var(--medium-blue);
        color: var(--white);
      }

      table {
        border-collapse: collapse;
        margin: 2em 0;

        .rank,
        .points {
          color: var(--medium-blue-70);
          text-align: center;
        }

        td.rank {
          font-weight: 600;
        }

        .name {
          text-align: left;
          a {
            text-decoration: inherit;
          }
          td& {
            font-weight: 500;

            .teams {
              color: var(--medium-blue-70);
              display: block;
              font-size: 14px;
              font-weight: 400;
            }
          }
        }

        tr > * {
          padding: 0.25rem 0.5rem;

          &:first-child {
            border-radius: 0.5em 0 0 0.5em;
            padding-left: 2rem;
          }

          &:last-child {
            border-radius: 0 0.5em 0.5em 0;
            padding-right: 2rem;
          }
        }

        thead th {
          font-weight: 400;
          font-size: 14px;
        }

        tbody tr {
          &.current td {
            background: var(--medium-blue-70);
            color: var(--white);

            .teams {
              color: var(--white);
            }
          }

          td {
            background: var(--medium-blue-8);
            border-bottom: 0.25em solid var(--pale-yellow);
            height: 3.5em;
            vertical-align: center;
          }
        }
      }
    }

    #teams {
      ul {
        display: block;
        padding: 0;

        li {
          background: var(--medium-blue-8);
          border-radius: 1em;
          display: block;
          line-height: 1;
          margin: 1em 0;
          padding: 0.5em 3em 0.5em 1em;
          position: relative;

          .todo {
            color: var(--red);
            text-decoration: none;
          }

          button {
            background: none;
            border-left: 1px solid var(--medium-blue);
            border-radius: 0;
            bottom: 0;
            padding: 0 0.75rem 0 0.5rem;
            position: absolute;
            right: 0;
            top: 0;
            font-size: 0;

            &::before {
              content: url(../img/delete.svg);
            }
          }
        }
      }
    }
  }
}

body#auth_login,
body#auth_password_change,
body#auth_password_change_done,
body#auth_password_reset,
body#auth_password_reset_done,
body#registration_register {
  background: url(../img/bottom-curves.svg) bottom right no-repeat, url(../img/stars.webp);

  main {
    box-sizing: border-box;
    color: var(--white);
    font-weight: 500;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 25rem;

    ul {
      margin: 0;
      padding-left: 2rem;
      text-align: left;
    }

    p {
      color: var(--white-50);
    }

    a {
      color: var(--white);
      display: block;
    }

    button {
      background: var(--yellow);
      color: var(--dark-blue);
      margin: 1rem auto;
    }

    input {
      box-sizing: border-box;
      width: 100%;
    }
  }
}


@media (max-width: 1400px) {
  body#profile {
    main {
      #statistics dl {
        display: block;

        .login + dd {
          max-width: none;
          position: static;
        }

        .date + dd {
          margin-top: 0;
        }

        .icon + dd {
          display: inline-flex;
          height: 4rem;
          margin: 1.5em 2.5em 0 -1em;
        }
      }
    }
  }
}


@media (max-width: 1000px) {
  h1 {
    margin-top: 0.5em;
  }

  body#index {
    text-align: center;

    main {
      section {
        padding: 3em 0;
      }

      #learn {
        display: block;

        h1 {
          text-align: center;
        }

        .buttons {
          justify-content: center;
        }

        #categories {
          margin: auto;
          width: 19em;
        }
      }

      #exercises {
        dl {
          display: block;

          dt {
            margin-top: 1em;
          }

          dd {
            margin-bottom: 1em;
          }
        }
      }

      #leaderboards {
        columns: auto;

        h3 {
          margin-top: 3em;
        }

        .leaderboard li {
          padding: 1rem 2rem;
        }
      }

      #teacher {
        dl {
          background-position: 15% 20%, 85% 90%;

          dt::before {
            margin-top: 3rem;
          }

          dd {
            margin-bottom: 3rem;
          }

          :is(dt, dd):nth-of-type(odd) {
            padding-right: 0;
          }

          :is(dt, dd):nth-of-type(even) {
            padding-left: 0;
          }
        }
      }

      #support {
        .buttons {
          display: block;

          li {
            width: max-content;
          }
        }
      }
    }
  }

  body#exercises {
    main {
      padding-left: 2rem;

      h1 {
        text-align: left;
      }
    }

    aside.tags {
      display: none;
    }
  }

  body#leaderboard,
  body#teams,
  body#team-stats,
  body#stats,
  body#team {
    main {
      padding: 0 1em;
    }
  }

  body#sponsor {
    main div.donation-means {
      align-items: start;
      flex-direction: column;
      gap: 1em;

      a.donation-means {
        margin: 1em 0;
      }
    }
  }

  body#help {
    div.squares {
      flex-wrap: wrap;
    }
  }
}


@media (max-width: 600px) {
  body {
    overflow-x: visible;
  }

  nav {
    height: 4rem;

    &:hover {
      ul {
        bottom: 0;
        height: auto;
        z-index: 9;
      }

      &::after {
        display: none;
      }
    }

    &::after {
      background: var(--yellow);
      color: var(--dark);
      content: "𑁔";
      font-size: 3rem;
      line-height: 1.3;
      position: absolute;
      right: 0;
      text-align: center;
      width: 4rem;
      z-index: 10;
    }

    ul {
      background: var(--yellow);
      display: block;
      height: 2em;
      left: 0;
      overflow: hidden;
      position: absolute;
      right: 0;
      text-align: left;
      top: 0;

      li {
        margin: 2em 0;

        &.home {
          margin-bottom: 3rem;
        }

        &.login,
        &.profile {
          margin: 2em 0;

          a {
            width: max-content;
          }
        }
      }
    }
  }

  footer {
    &::after {
      color: var(--dark);
      content: "×";
      font-size: 3rem;
      line-height: 1.3;
      position: absolute;
      right: 0;
      text-align: center;
      top: 0;
      width: 4rem;
      z-index: 9;
    }
  }

  body#index {
    main {
      padding: 0 1em;

      #learn {
        #categories {
          overflow: hidden;
          position: relative;
          text-align: left;
        }
      }

      #teacher {
        dl {
          background: none;

          :is(dt, dd):nth-of-type(n) {
            text-align: center;
            padding: 0;

            ul {
              text-align: left;
            }
          }

          dt::before {
            margin-left: auto;
            margin-right: auto;
          }
        }
      }

      #support {
        background-position: 100% 3.5em;
        text-align: center;
        padding-left: 0;
        width: auto;

        h2 {
          margin-right: 3em;
          text-align: left;
        }

        .subtitle {
          text-align: left;
        }

        .buttons li {
          margin: auto;
        }
      }
    }
  }

  body#exercises {
    main {
      section {
        text-align: center;

        h1 {
          padding: 0.5em 0 0;
          text-align: center;
        }

        .progress {
          padding: 0 1em 1em 1em;
          width: 100%;

          progress {
            flex: 1;
          }

          .number {
            padding-left: 1em;
          }

          .total {
            height: 1.3em;
            overflow: hidden;
            text-wrap: auto;
            width: 2ch;

            &:first-line {
              font-size: 1rem;
            }
          }
        }
      }

      aside.legend ul {
        flex-wrap: wrap;
        gap: 0.5em 0;

        li {
          flex: auto;
          width: 50%;
        }
      }

      table {
        tr {
          position: relative;

          td.link {
            padding: 0;
            width: 0;

            a {
              bottom: 0;
              left: 0;
              margin: 0;
              opacity: 0;
              padding: 0;
              position: absolute;
              top: 0;
              right: 0;
            }
          }
        }
      }
    }
  }

  body#exercise {
    main {
      display: block;
      padding: 1em 1em 0 1em;
      position: relative;

      #panel {
        display: block;
        height: auto;
        min-height: auto;

        .codehilite {
          border-radius: 0;
          margin-left: -1em;
          margin-right: -1em;
          max-width: 100vw;

          pre {
            padding: 0.5em 1em;
          }
        }

        #buttons {
          font-size: 0.8em;
          position: static;

          a {
            text-wrap: nowrap;
          }

          #send {
            margin: 0;
            right: 0;
            transform: none;
          }
        }
      }

      #editor {
        margin-left: -1em;
        margin-right: -1em;

        form {
          display: block;

          .django-ace-editor {
            border-radius: 0;
            height: calc(100vh - 8.5em);
          }
        }
      }
    }
  }

  body#leaderboard,
  body#teams {
    main {
      overflow: hidden;

      .tabs {
        font-size: 0;

        a {
          padding: 0;
        }
      }

      table {
        font-size: 0.8em;
      }

      .navigate {
        li:not(.current) {
          a {
            font-size: 0;
            padding: 0.5rem;

            &::before,
            &::after {
              font-size: 1rem;
            }
          }
        }
      }
    }
  }

  body#profile {
    main {
      display: block;

      aside {
        border: 0;
        margin-left: 0;
        padding: 0;
      }
    }
  }
}
