{% extends "admin/base_site.html" %}
{% load static %}

{% block extrahead %}
<link href="{% static "css/hkisadmin.css"%}" rel="stylesheet" type="text/css" />
<script src="{% static "js/admin.js" %}"></script>
{% endblock %}

{% block branding %}
<div id="site-name"><a href="{% url 'admin:index' %}"><img src="{% static 'img/logo.svg'%}"/></a></div>
{% if user.is_anonymous %}
  {% include "admin/color_theme_toggle.html" %}
{% endif %}
{% endblock %}
