[Unit]
Description=Correction bot
After=network.target

[Service]
User=correction-bot
Group=correction-bot
WorkingDirectory={{ correction_bot_home }}/src/
ExecStart={{ correction_bot_home }}/venv/bin/python correction_bot.py --redis-url "{{ redis_url }}"
Environment="CORRECTION_BOT_INTERPRETER={{ correction_bot_jail_interpreter }}"
Restart=always

[Install]
WantedBy=multi-user.target
