DATABASES = {
    "default": {
        "ENGINE": "django.db.backends.postgresql",
        "NAME": "hkis",
        "USER": "website",
    }
}

STATIC_ROOT = "static"

DEBUG = False

DEFAULT_FROM_EMAIL = "team@genepy.org"
SERVER_EMAIL = "team@genepy.org"
REGISTRATION_DEFAULT_FROM_EMAIL = "team@genepy.org"
ADMINS = [("Julien Palard", "hkis@mdk.fr")]

INTERNAL_DOMAINS = ["genepy.org"]

SECRET_KEY = r'{{ django_secret_key }}'

LOCALE_PATHS = ["{{ project_home }}/locale"]

GIT_HEAD = "{{ git_head.stdout }}"

LOGGING = {
    "version": 1,
    "disable_existing_loggers": False,
    "formatters": {
        "named": {
            "format": "[{name}] {message}",
            "style": "{",
        }
    },
    "handlers": {
        "mail_admins": {
            "level": "ERROR",
            "class": "django.utils.log.AdminEmailHandler",
            "include_html": True,
        },
        "console": {
            "level": "INFO",
            "class": "logging.StreamHandler",
            "formatter": "named",
        },
    },
    "loggers": {
        "": {
            "handlers": ["console", "mail_admins"],
            "level": "INFO",
        },
        "django": {
            "handlers": ["console", "mail_admins"],
            "level": "INFO",
            "propagate": False,
        },
    },
}
