{% extends "hkis/layout.html" %}
{% load i18n %}

{% block title %}{% trans "Password reset" %}{% endblock %}

{% block container %}
  <h1>{% trans "Password reset" %}</h1>

  <p>{% trans "A link has been sent to change your password. Please check your mailbox and click on this link to continue." %}</p>
{% endblock %}

{# This is used by django.contrib.auth #}
