{% extends "hkis/layout.html" %}
{% load i18n static %}

{% block title %}{% trans "Change password" %}{% endblock %}

{% block container %}
  <h1>{% trans "Change password" %}</h1>

  <form method="post" action="" class="form">{% csrf_token %}
    {{ form }}
    <button type="submit">{% trans "Change password" %}</button>

    <p>
      <a href="{% url 'index' %}">{% trans "Back" %}</a>
    </p>
  </form>
{% endblock %}
