{% extends "hkis/layout.html" %}
{% load i18n static %}

{% block title %}{% trans "Register" %}{% endblock %}

{% block extrahead %}
  <script src="{% static "js/registration_form.js" %}"></script>
{% endblock %}

{% block container %}
  <h1>{% trans "Register" %}</h1>

  <p>
    If you already own an account on hackinscience.org don't create a new one here.
  </p>
  <p>
    Just use your HackInScience account to log in.
  </p>
  <p>
    Genepy is the new name and design for HackInScience.
  </p>

  <form method="post" class="form">
    {% csrf_token %}
    {{ form }}
    <button type="submit">{% trans "Submit" %}</button>

    <p>
      <a href="/">{% trans "Back" %}</a>
    </p>
  </form>
{% endblock %}
